.fascinate-notes-1 {
    /* height: 1080px; */
    width: 100%;
    position: relative;
    overflow: hidden;
}

.fascinate-note-section-image-showcase {
    margin-top: 2rem;
    margin-bottom: 2rem;
    /* position: relative; */
    width: 80%;
    max-width: 700px;
}

.fascinate-note-section-image-showcase img {
    width: 100%;
}

.fascinate-notes-flex-column-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fascinate-notes-hello img {
    width: 440px;
    height: auto;
}

.fascinate-notes-hello {
    margin-top: 2rem;
    overflow: hidden;
}

.fascinate-notes-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    overflow: hidden;
}

.fascinate-notes-buttons a {
    padding: 0.5rem 1.05rem;
    background-color: var(--theme-buttons);
    color: var(--theme-buttons-color);
    font-family: var(--theme-buttons-typeface), sans-serif;
    letter-spacing: -0.4px;
    font-weight: 550;
    overflow: hidden;
    text-decoration: none;
}

.fascinate-notes-buttons span {
    overflow: hidden;
    padding: 0.5rem 0rem;
}

.fascinate-notes-buttons a svg {
    transform: translateY(2.5px);
}

#fascinate-notes-buttons-active {
    background-color: var(--theme-primary-buttons);
    color: var(--theme-primary-buttons-color);
}

/* Fascinate Notes Text */

.fascinate-notes-p {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin-top: 1.8rem;
}

.fascinate-notes-p p {
    font-family: var(--theme-typeface-default);
    font-weight: 500;
    letter-spacing: -0.2px;
    font-size: 16.5px;
}

/* Fascinate Notes Card */

.fascinate-notes-card-1 {
    background-color: var(--theme-fascinate-notes-primary-default);
    border: 1px solid var(--theme-fascinate-notes-border);
    border-radius: 6px;

    width: 1000px;
    height: 665px;
}