.iconsRes {
    color: #ffffe9;
    /* display: none; */
}

#GoToHireAnim {
    display: none;
}

#DesktopHire {
    display: block;
}

#GoToinstaAnim {
    display: none;
}

body.dark-theme .iconsRes {
    color: #000;
}

@media only screen and (max-width: 1280px) {
    * {
        cursor: default;
    }

    .cursor--large {
        display: none;
    }

    .cursor {
        display: none;
    }

    .Navbar {
        max-width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .iconsRes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: fit-content;
        height: 50px;

        &.iconsRes ion-icon {
            width: 40px;
            height: 19px;
        }
    }

    .navbarlinks {
        display: none;
    }

    .Navbar {
        max-width: 75%;
    }

    .headerTextMain h1 {
        font-size: 250px !important;
        letter-spacing: -10px !important;
    }

    .headerTextMain strong {
        font-size: 250px !important;
    }

    .headerText p {
        font-size: 50px !important;
    }

    #GoToHireAnim {
        display: block;
    }

    #DesktopHire {
        display: none;
    }

    #DesktopIG {
        display: none !important;
    }

    #GoToinstaAnim {
        display: block;
    }

}

.sidebar {
    width: 250px;
    height: 100dvh;
    background-color: #0a0a0a;
    border-right: 1px #222 solid;
    position: fixed;
    z-index: 12;
    transform: translateX(-300px);
    transition: cubic-bezier(0.23, 1, 0.320, 1) 1.25s;
}

.sidebarElement {
    opacity: 0;
    transform: translateX(-80px);
    filter: blur(5px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    height: 100dvh;
}

body.dark-theme .sidebar {
    background-color: #fffff1;
    border-right: none;
}

.sidebartitile {
    display: flex;
    align-items: center;
    height: 90px;
    max-width: 220px;
    margin: 0 auto;

    &.sidebartitile svg {
        width: 65px;
        margin-left: 0.5rem;
    }

    &.sidebartitile h1 {
        color: #ffffe9;
        font-weight: 500;
        font-family: lineseedregular;
        font-size: 19.5px;
        transform: translate(5px, 1px);
        letter-spacing: -0.8px;
    }
}

body.dark-theme .sidebartitile h1 {
    color: #000;
}

body.dark-theme .sidebartitile svg {
    width: 13px;
    filter: brightness(0%);
    margin-left: 0.5rem;
}

.sidebarcon {
    max-width: 220px;
    margin: 0 auto;
    padding-top: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}


.sidebarcon li a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 210px;
    margin: 0 auto;
    padding: 0rem 1rem;
    font-family: lineseedregular;
    height: 42px;
    margin-bottom: 0.5rem;
}

body.dark-theme .sidebarcon li a {
    color: #000;
}

.sidebarcon ion-icon {
    margin-right: 0.5rem;
}

.sidebarcon li a:active {
    background-color: #ffffe9;
    color: #000;
    border-radius: 5px;
}

#sidebarhigh {
    color: #000;
    background-color: #ffffe9;
    border-radius: 5px;
}

body.dark-theme #sidebarhigh {
    background-color: #000;
    color: #ffffe9;
}

body.dark-theme .sidebarcon li a:active {
    background-color: #000;
    color: #ffffe9;
}

#backgroundblur {
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(10, 10, 10, 0.811);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: 10;
    /* transform: translateX(-100%); */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.85s;
    opacity: 0;
    display: none;
}

body.dark-theme #backgroundblur {
    background-color: rgba(255, 255, 233, 0.650);
}


@media only screen and (max-width: 2000px) {

    .cardimage img {
        width: 290px !important;
    }

    body.dark-theme .cardimage img {
        width: 290px !important;
    }

    .cardtext h1 {
        font-size: 32px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 32px !important;
    }

    .card {
        gap: 25px !important;
    }

    body.dark-theme .card {
        gap: 25px !important;
    }

}

@media only screen and (max-width: 1480px) {

    .cardimage img {
        width: 260px !important;
    }

    body.dark-theme .cardimage img {
        width: 260px !important;
    }

}

@media only screen and (max-width: 1280px) {

    .OffenCon {
        max-width: 80% !important;
    }

    .cardimage img {
        width: 240px !important;
    }

    body.dark-theme .cardimage img {
        width: 240px !important;
    }

    .cardtext h1 {
        font-size: 28px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 28px !important;
    }

    .card {
        gap: 15px !important;
    }

    body.dark-theme .card {
        gap: 15px !important;
    }

}

@media only screen and (max-width: 1150px) {

    .card {
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
    }

    .cardcon {
        scroll-snap-align: start;
        flex-shrink: 0;
    }

    .cardimage img {
        margin-left: 0.5rem;
    }

    .cardtext h1 {
        margin-left: 0.5rem;
        font-size: 24px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 24px !important;
    }

}

@media only screen and (max-width: 500px) {

    .Offen {
        height: 950px;
    }

    .OffenCon {
        margin-top: 0rem !important;
    }

}

/* card content */

@media only screen and (max-width: 1280px) {

    .aboutwrapper {
        max-width: 80% !important;
    }

    .aboutcardcontent {
        width: 305px !important;
        /* box-shadow: none !important; */
    }

}

@media only screen and (max-width: 1140px) {

    .aboutcardwrapper {
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        gap: 15px;
    }

    .aboutcardcontent {
        scroll-snap-align: start;
        flex-shrink: 0;
        box-shadow: none !important;
    }

}

@media only screen and (max-width: 795px) {

    .abouttextcontent {
        display: block !important;
    }

    .abouttext {
        margin-bottom: 2.5rem;
    }

    .aboutinfor h1 {
        display: flex !important;
        width: fit-content;
    }

    .abouttext h1 {
        font-size: 54px !important;
    }

    .abouttext p {
        font-size: 18px !important;
    }

}

@media only screen and (max-width: 425px) {

    .aboutcardcontent {
        width: 80% !important;
        height: 400px !important;
    }

    .aboutcontext h1 {
        font-size: 30px !important;
    }

    .aboutcontext p {
        /* font-size: 11.5px !important; */
        font-size: 3.125vw !important;
    }

    .about {
        height: 100vh;
        min-height: 870px !important;
    }

    .aboutwrapper {
        height: 100vh !important;
        min-height: 870px !important;
    }

    .abouttextcontent {
        padding-top: 7.5rem !important;
    }

}

@media only screen and (max-width: 350px) {

    .aboutinfor h1 {
        letter-spacing: -0.3px !important;
        font-size: 14px !important;
    }

    .aboutinfor p {
        margin-left: 0.2rem !important;
        font-size: 14px !important;
    }

    .aboutcardcontent {
        width: 100% !important;
    }

    .aboutcontext p {
        font-size: 3.65vw !important;
    }

    .abouttext p {
        font-size: 3.5dvh !important;
    }

}

/* text fix bug */

@media only screen and (max-width: 550px) {

    .servicetext h1:before {
        font-size: 8vw !important;
        width: 100%;
        letter-spacing: -1.25px !important;
        text-align: center !important;
    }

    .servicetext h1 {
        margin-top: 10.5rem;
    }

    .service {
        height: 100vh !important;
        min-height: 800px;
    }

    .servicewrapper {
        height: 100vh !important;
        position: relative;
        min-height: 800px;
        align-items: normal !important;
    }

    .serviceimg img {
        bottom: 155px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    header video {
        display: none;
    }

    header img {
        display: block;
    }

}

@media only screen and (max-width: 380px) {

    header img {
        width: 250px;
    }

}

@media only screen and (max-width: 370px) {

    .NavLogo svg {
        display: block !important;
        transform: translateY(-2px);
    }

    .NavLogo h1 {
        display: none !important;
    }

}