.PeakkFirst {
  position: relative;
  background-attachment: fixed;
  height: 100vh;
  border-bottom: solid 1px #222;
  background-color: #0a0a0a;
  z-index: 3;
}

.PeakkFirstCon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -110%);
}

.PeakkImage {
  left: 50%;
  transform: translate(-50%, 45px);
  position: absolute;
}

.PeakkImage img {
  width: 1500px;
  background-attachment: fixed;
  z-index: 4;
  display: block;
  box-shadow: 0px 14.0px 20.0px hwb(0 46% 54% / 0.233);
  border-radius: 6px;
  transition: 0.1s;
}

.PeakkImage img:hover {
  outline: solid 1px #ffffe944;
  cursor: none;
  box-shadow: 0px 14.0px 20.0px hwb(0 46% 54% / 0.473);
}

@keyframes TurnOffAnim {
  to {
    transform: translateY(500px);
    scale: 90%;
  }
}

@keyframes TurnOffAnimOpacity {
  to {
    opacity: 0;
    transform: translateY(900px);
  }
}

@keyframes TextSlideOut {
  to {
    transform: translateY(500px);
  }
}

@supports (animation-timeline: scroll()) {
  .PeakkImage img {
    animation: TurnOffAnim cubic-bezier(0.165, 0.84, 0.44, 1) both;
    animation-timeline: scroll();
    animation-range: contain;
  }
  .PeakkimageWall img {
    animation: TurnOffAnimOpacity cubic-bezier(0.165, 0.84, 0.44, 1) both;
    animation-timeline: scroll();
    animation-range: contain;
  }
  .PeakkFirstText {
    animation: TextSlideOut cubic-bezier(0.165, 0.84, 0.44, 1) both;
    animation-timeline: scroll();
    animation-range: contain;
  }
}

.PeakkFirstText h1 {
  font-weight: 500;
  font-size: 80px;
  text-align: center;
  color: #ffffe9;
  line-height: 1.9;
}

.PeakkFirstText hr {
  width: 50%;
  margin: 0 auto;
  border: solid 2px #ffffe9;
  border-radius: 20px;
}

.PeakkFirstText p {
  color: #fff;
  font-family: lineseedregular;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 26px;
}

.PeakkFirstText {
  transform: translateY(-105px);
}

.PeakkButton {
  text-align: center;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.PeakkButton button {
  height: 42px;
  border-radius: 4px;
  width: 180px;
  background-color: #0a0a0a;
  color: #ffffe9;
  border: solid 1px #ffffe9;
  font-family: lineseedregular;
  font-size: 16px;
  box-shadow: 0px 14.0px 20.0px hwb(0 46% 54% / 0.233);
}

.PeakkimageWall img {
  height: 120dvh;
  width: 100%;
  opacity: .03;
  transform: translatey(0px);
}

header {
  height: 100dvh;
  position: relative;
  width: 100dvw;
  z-index: 3;
  background-color: #0c0c0c;
  backdrop-filter: blur(10px);
  background-attachment: fixed;
  transition: 0.4s;
  border-bottom: solid 1px #222;
}

.headerconn {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  height: 100dvh;
  align-items: center;
}

.headerfirstconn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1100px;
}

.headerText h1 {
  color: #ffffe9;
  font-family: LineSeedRegular;
  letter-spacing: -4.5px;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.2;
  display: block;
  margin-top: 0.8rem;
  margin-bottom: 1.7rem;
}

#TagHighSugg {
  color: #ffffe9;
  background-color: #0f0f0f;
  border: solid 1px #282828;
  display: inline-block;
  padding: 0.4rem 1.2rem;
  font-family: LineSeedRegular;
  margin-bottom: 1.7rem;
  position: relative;
  box-shadow: 41px 41px 100px #dedecb,
    -20px -20px 100px #ffffff;
  border-radius: 4px;
  transform: translate(0);
  transform-style: preserve-3d;
}

#TagHighSugg::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: translate3d(0, 0, -1px);
  background: linear-gradient(145deg, #fffff9, #e6e6d2);
  filter: blur(10px);
  clip-path: polygon(-100vmax -100vmax, 100vmax -100vmax, 100vmax 100vmax, -100vmax 100vmax, -100vmax -100vmax, 0 0, 0 100%, 100% 100%, 100% 0, 0 0);
}

.headerText hr {
  border: solid 3px #ffffe9;
  margin-top: 1rem;
  width: 130px;
  border-radius: 2px;
}

.DesipTion {
  color: #fff;
  width: 40%;
  margin-top: 1.8rem;
  font-family: LineSeedThin;
  font-size: 16px;
}

.headerButon button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  padding: 0.45rem 2rem;
  font-size: 16px;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0px 14.0px 20.0px hwb(0 46% 54% / 0.233);
  cursor: pointer;
  font-family: LineSeedRegular;
  background-color: transparent;
  border: solid 1px #ffffe9;
  color: #ffffe9;
  background-color: #030303;
  margin-top: 2rem;
}

.headerButon button:hover {
  background-color: #ffffe9;
  color: #000;
  cursor: none;
}

.headerImage svg {
  width: 170px;
  transform: translateX(85px);
}

.headerImage svg:hover {
  cursor: none;
  filter: drop-shadow(0px 0px 17px #ffffe0);
}

.swiper-container {
  width: 100%;
  height: 100vh;
}

.bg-text-container {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  z-index: -999;
}

@keyframes text-scrolling {
  0% {
    transform: translate3d(-100%, 0, 0);
  }

  100% {
    transform: translate3d(0%, 0, 0);
  }
}

.animate-text {
  animation: text-scrolling 10s linear infinite;
  will-change: transform;
  display: block;
  position: relative;
  white-space: nowrap;
}

.animate-text.left {
  animation-direction: reverse;
}

.animate-text span {
  font-size: 280px;
  color: transparent;
  -webkit-text-stroke: 2px #ffffff13;
  text-transform: uppercase;
  display: inline-block;
  line-height: 1.1;
  min-width: auto;
  font-weight: 800;
  font-family: LineSeedBOLD;
}

.area {
  background: transparent;
  width: 100%;
  height: 100dvh;
  position: fixed;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  filter: blur(10px);
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(193, 193, 193, 0.229);
  animation: animate 15s linear infinite;
  box-shadow: rgba(27, 27, 27, 0.56) 5px 5px 2px 1px;
  bottom: -150px;
  backdrop-filter: blur(20px);
  border: solid 1px #111;
}

body.dark .circles li {
  box-shadow: rgba(255, 255, 255, 0.089) 5px 5px 2px 5px;
  background: rgba(255, 255, 255, 0.049);
  border: solid 1px #212121;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 90px;
  height: 90px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 70px;
  height: 70px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 120px;
  height: 120px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 90px;
  height: 90px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 35px;
  height: 35px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 170px;
  height: 170px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 50%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
}


.circles li:nth-child(12) {
  left: 25%;
  width: 140px;
  height: 140px;
  animation-delay: 2s;
  animation-duration: 12s;
}


@keyframes animate {

  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1600px) rotate(720deg);
    opacity: 0.9;
    border-radius: 5%;
  }
}

.PriceTagText {
  margin-top: 2.6rem;
  margin-bottom: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PriceTagText h1 {
  color: #ffffe9;
  font-family: LineSeedThin;
  text-align: center;
  z-index: 3;
  position: relative;
  display: inline-block;
  margin: 0 auto;
}

.PriceTagText h1:hover {
  cursor: none;
}

.PriceTagText h1:hover:after,
.PriceTagText h1:hover:after {
  transform: scalex(1);
}

.PriceTagText h1:after,
.PriceTagText h1:after {
  transition: 0.25s ease;
  content: "";
  display: block;
  width: 100%;
  margin: 0 auto;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}

.PriceContent {
  margin-top: 1rem;
  background-color: #0a0a0a;
  border-top: 1px #222 solid;
  border-bottom: 1px #222 solid;
  z-index: 3;
  margin-bottom: 5rem;
  position: relative;
}

.PriceContentArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  height: 720px;

}

.FlexPriceCard h1 {
  color: #ffffe9;
  font-size: 60px;
  text-align: center;
  font-weight: 600;
  margin-top: 3.4rem;
  font-family: Meltie;
}

.FlexPriceCard {
  border: solid 1px #222;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  height: 450px;
  width: 330px;
}

.FlexPriceCard hr {
  border: solid 3px #ffffe9;
  border-radius: 4px;
  width: 70px;
  margin-top: 0.2rem;
  margin-left: auto;
  margin-right: auto;
}

.FlexPriceCard p {
  /* Button suggess */
  text-align: center;
  margin-top: 1.6rem;
  color: #fff;
  font-family: LineSeedThin;
}

.SuggessProductPrace {
  position: relative;
}

.FlexPriceCard button {
  text-align: center;
  padding: 0.5rem 1rem;
  position: relative;
}

#TextSuggessPriceTag {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -200%);
  color: #ffffe9;
  font-family: LineSeedBOLD;
  width: 200px;
  text-align: center;
  /* border-bottom: solid 2px #ffffe9; */
}

#TextSuggessPriceTag ion-icon {
  transform: translate(-9px, 7px);
}

#Recommended {
  background-color: #fffff3;
  box-shadow: 7px 7px 40px #dedecb69, -5px -8px 20px #ffffff28;
  scale: 108%;
  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
}

#Recommended:hover {
  box-shadow: 7px 7px 40px #dedecb, -5px -8px 20px #ffffff28;
  cursor: none;
}

#Recommended h1 {
  color: #000;
}

#Recommended h1:hover {
  color: #000;
  cursor: none;
}

#Recommended hr {
  border: solid 3px #000;
}

#Recommended hr:hover {
  cursor: none;
}

#Recommended p {
  -webkit-text-stroke-width: 1.6px;
  color: #000;
}

#Recommended p:hover {
  cursor: none;
}

/* Button suggess */

.BuyRecomPrice {
  position: relative;
  overflow: hidden;
  color: #000;
  background-color: #fffff3;
  padding: 0.5rem 1.4rem;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 20px;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  /* black with 30% opacity */
  cursor: pointer;
  text-align: center;
  font-family: LineSeedRegular;
  -webkit-text-stroke-width: 0.7px;
  mix-blend-mode: difference;
  transition: all 0.3s;
}

.BuyRecomPrice:hover {
  cursor: none;
}

.Buy399Price {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  transform: translateY(-60px);
}