*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Roboto;
    -webkit-tap-highlight-color: transparent;
}

html {
    background-color: #0a0a09;
    scrollbar-color: #cecece;
    scrollbar-width: 1px;
}

.titlebar {
    height: 60px;
    /* border-bottom: solid 1px #191919; */
}

.titlebarcontent {
    max-width: 80%;
    margin: 0 auto;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titlebartext h1 {
    color: #ffffe9;
    font-weight: 300;
    font-size: 18px;
    line-height: 70px;
}

.titlebarFlexiCon span {
    color: #ffffe9;
    font-size: 20px;
    transform: translateY(2px);
}

.custom-bottom-navbar {
    /* background-color: #0f0f0f; */
    /* box-shadow: 0 -1px 2px rgba(0,0,0,0.3); */
    bottom: 0;
    margin-bottom: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 5;
}

.custom-bottom-navbar nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.custom-bottom-navbar nav a {
    padding: 10px 20px;
    width: 90px;
    line-height: 1;
    color: inherit;
    text-decoration: none;
    display: block;
    color: #ffffe9 !important;
}

.custom-bottom-navbar nav a span {
    display: block;
    text-align: center;
}

.custom-bottom-navbar .material-symbols-sharp {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
    border-radius: 50px;
    padding: 0.35rem 0rem;
}

.custom-bottom-navbar .bottom-navbar-text {
    padding-bottom: 0;
    margin-top: 0.3rem;
    display: block;
    font-size: .65em;
    text-align: center;
}

#BottomNavActive {
    background-color: #1c1c1c;
    border-radius: 50px;
    padding: 0.35rem 0rem;
}