:root {
    --DEFINEblobblue: #162332;
    --DEFINEblobwhite: #070707;
    --DEFINEblobpurple: #212132;
    --DEFINEblobpink: #ffb1ed39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s all;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    background: #080808;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-container {
    /* height: 426px;
    width: 240px; */
    /* height: 640px; */
    width: 360px;
    aspect-ratio: 9 / 16;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -52.5%);
    overflow: visible;
}

@media screen and (max-width: 380px) {

    swiper-container {
        /* height: 426px; */
        width: 85%;
    }

}

swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-weight: bold;
    color: #fff;
    outline: solid 1.25px #8e8e8e;
    margin: 1rem;
}

swiper-slide img {
    width: 100%;
    object-fit: cover;
    object-position: 100%;
    height: 100%;
}

.bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left top;
    filter: saturate(50%) contrast(110%);
    background-attachment: fixed;
    overflow: auto;
    opacity: 10%;
}

.bouncing-blob--blue {
    background: var(--DEFINEblobblue);
}

.bouncing-blob--white {
    background: var(--DEFINEblobwhite);
    z-index: 2;
    width: 15vw;
}

.bouncing-blob--purple {
    background: var(--DEFINEblobpurple);
}

.bouncing-blob--pink {
    background: var(--DEFINEblobpink);
}

.bouncing-blobs-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bouncing-blobs-glass {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
    pointer-events: none;
}

.bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
