@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --Reset: border-box 0;
    --CardWidth: 320px;
    --padding: 2rem;
}

* {
    margin: var(--Reset);
    padding: var(--Reset);
    box-sizing: var(--Reset);
}

html,body {
    overflow: hidden;
}

.cardviewer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
    background-color: #0f0f0f;
    border: solid 1px #333;
    border-radius: 32px;
}

.cardcontentwrapper {
    position: relative;
}

.cardviewercontent {
    width: var(--CardWidth);
}

.cardimage img {
    width: var(--CardWidth);
    outline: solid 1px #333;
    border-radius: 16px;
    aspect-ratio: 1 / 1;
}

/* links */

.profile {
    display: flex;
    gap: 15px;
    height: fit-content;
    background-color: #0a0a0a;
    border: solid 1px #333;
    border-radius: 100px;
    width: fit-content;
    margin-bottom: var(--padding);
    margin-top: var(--padding);
}

.profilecontent {
    padding: 0.35rem;
    display: flex;
    align-items: center;
}

.profilelogo svg {
    height: auto;
    display: block;
    width: 30px;
    border-radius: 50px;
    outline: solid 1px #222;
    margin-right: 0.5rem;
}

.profiletext h1 {
    color: #ffffe9;
    font-size: 16px;
    font-family: 'DM Sans';
    font-weight: 400;
    letter-spacing: -0.5px;
    margin-right: 0.75rem;
}

#PostDesip {
    color: #fff;
    opacity: 50%;
    font-family: "lineseedregular", "Inter Tight", "sans-serif";
    line-height: 1.5;
    margin-bottom: 2rem;
}

.ReadMore {
    padding: 0.5rem 1.25rem;
    background-color: #ffffe9;
    color: #000;
    border-radius: 100px;
    display: inline-block;
    font-family: "lineseedregular", "Inter Tight", "sans-serif";
    font-size: 16px;

    &:hover {
        filter: brightness(70%);
    }
}

/* Allcontent */

#Unhighlight {
    border: solid 1px #333;
    background-color: transparent;
    color: #999;
    margin-left: 0.5rem;
}

.showallcontent {
    position: absolute;
    top: 0;
    height: 578px;
    /* display: flex; */
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    opacity: 0;
    display: none;
}

.showallcontent p {
    color: #fff;
    font-family: "lineseedregular", "Inter Tight", "sans-serif";
}

#Source {
    padding: 0.5rem 1.25rem;
    border: solid 1px #333;
    background-color: #0f0f0f;
    color: #999;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "lineseedregular", "Inter Tight", "sans-serif";
    font-size: 16px;

    &:hover {
        filter: brightness(70%);
    }
}

.showallcontent a {
    color: #fff;
    font-size: 25px;
    display: block;
    text-align: right;
}

.showallcontent a ion-icon {
    z-index: 11;
    position: relative;
}

@media (max-height: 850px) {
    
    .showallcontent {
        height: 520px !important;
    }

}

@media (max-height: 760px) {

    .backbutton a {
        display: none;
    }

    .copylighttell a {
        display: none !important;
    }

    .backbutton ion-icon {
        font-size: 24px;
    }

    :root {
        --CardWidth: 230px !important;
    }

}

@media (max-width: 460px) {
    
    :root {
        --CardWidth: 280px;
    }

    #Source {
        position: absolute;
        font-size: 14px;
        padding: 0.3rem 0.7rem;
    }

    .showallcontent a ion-icon {
        transform: translateY(2px);
    }

    .cardbutton {
        flex-direction: column;
        display: flex;
    }

    .showallcontent p {
        font-size: 16.5px;
    }

    .ReadMore {
        margin-bottom: 1rem;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    #Unhighlight {
        margin: 0rem;
    }

    .showallcontent {
        height: 610px;
    }

    .backbutton ion-icon {
        margin-left: 2rem !important;
    }

    .copylighttell a {
        transform: translateX(-16px);
        display: block;
        padding: 0.5rem 1rem !important;
    }

}

@media (max-width: 380px) {

    .cardviewer {
        height: 100vh;
        width: 100%;
        border: none;
    }

    .cardcontentwrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .copylighttell {
        display: none;
    }

}

/* backbutton */

.backbutton {
    display: flex;
    position: fixed;
    justify-content: space-between;
    z-index: 10;
    height: 75px;
    width: 100%;
    align-items: center;
}

.backbutton ion-icon,a {
    color: #ffffe9;
}

.backbutton ion-icon {
    margin-left: 1rem;
    transform: translateY(2.25px);
    margin-right: 0.075rem;
}

.backbutton a {
    font-family: "lineseedregular", "Inter Tight", "sans-serif";
    font-size: 16px;
} 

.copylighttell a {
    color: #ffffe9;
    padding: 0.4rem 1rem;
    background-color: transparent;
    outline: solid 1px #333;
    border-radius: 100px;
    font-family: "lineseedregular", "Inter Tight", "sans-serif";
    font-size: 16px;
    margin-right: 1rem;

    &:hover {
        outline: solid 1px #ffffe9;
        color: #000;
        background-color: #ffffe9;
    }
}