.area {
    background: transparent;
    width: 100%;
    height: 100vh;
    position: fixed;
    filter: blur(2px);
    opacity: 10%;
    overflow: hidden;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: fixed;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(193, 193, 193, 0.79);
    animation: animate 15s linear infinite;
    box-shadow: rgba(195, 195, 195, 0.56) 5px 5px 2px 1px;
    bottom: -150px;
    backdrop-filter: blur(20px);
}

body.dark .circles li {
    box-shadow: rgba(188, 188, 188, 0.107) 5px 5px 2px 1px;
    background: rgba(255, 255, 255, 0.049);
    filter: blur(4px);
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 90px;
    height: 90px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 90px;
    height: 90px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 35px;
    height: 35px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 170px;
    height: 170px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1600px) rotate(720deg);
        opacity: 0.9;
        border-radius: 10%;
    }
}