nav {
    background-color: var(--bg-primary);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

.nav-logo img {
    width: 22px;
    height: 22px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--spacing-lg);
    height: 60px;
    max-width: 1100px;
    margin: auto;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    padding: 0rem 0.5rem;
    color: var(--text-secondary);
    font-size: 14px;
}