:root,
[data-selected-theme="Default"] {
    --ctacolor: rgba(15, 15, 15, 0.731);
    --bordercolor: #222;
    --ColorUnderCta: #ffffe9;
}

[data-selected-theme="DefaultLight"] {
    --ctacolor: #fdfdf3;
    --bordercolor: #f1f1f1;
    --ColorUnderCta: #000;
}

[data-selected-theme="LightPink"] {
    --ctacolor: #fff4f4;
    --bordercolor: #f1f1f1;
    --ColorUnderCta: #3e2e31;
}

[data-selected-theme="LightLamonLight"] {
    --ctacolor: #fcfaf1;
    --bordercolor: #f1f1f1;
    --ColorUnderCta: #37372d;
}

[data-selected-theme="PurpleDark"] {
    --ctacolor: rgb(15, 14, 15);
    --bordercolor: #222;
    --ColorUnderCta: #e6e1e3;
}


.ctabtn {
    position: fixed;
    bottom: 35px;
    border-radius: 50px;
    left: 50%;
    background-color: var(--ctacolor);
    border: solid 1px var(--bordercolor);
    width: 60px;
    height: 50px;
    z-index: 5;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    transition: cubic-bezier(0.4, 0.0, 0.2, 1) 400ms all;
    /* defaultset */
    transform: translate(-50%, 60px);
    opacity: 0;
}

.styleCtabtninitialize {
    transform: translate(-50%, 0px);
    opacity: 1;
}

.styleCtabtnAnimateFlow {
    transform: translate(-50%, -25px);
}

.styleCtabtnAnimateFlowBACKDEF {
    transform: translate(-50%, 0px);
}

.styleCtabtnWidth {
    width: 180px;
}

#ctabtncontent {
    position: relative;
    opacity: 0;
    transition: cubic-bezier(0.4, 0.0, 0.2, 1) 150ms all;
    height: 50px;
}

.ctabtntext h1 {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    line-height: 1.5;
    font-size: 1.15rem;
    min-width: max-content;
    color: var(--ColorUnderCta);
    font-weight: 400;
    font-family: "Inter Tight", "MisansRegular", "IBM Plex Sans Thai", "sans-serif";
    transition: none;
}

.detailscontact {
    width: 180px;
    height: fit-content;
    background-color: var(--ctacolor);
    border: solid 1px var(--bordercolor);
    border-radius: 100px;
    position: fixed;
    bottom: 105.75px;
    left: 50%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    transition: cubic-bezier(0.4, 0.0, 0.2, 1) 400ms all;
    /* display: none; */
    /* initialize */
    transform: translate(-50%, 40px);
    opacity: 0;
    z-index: 5;

    .Detilcon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 1.75rem;
        height: 50px;
    }

    .Detilcon a {
        color: var(--ColorUnderCta);
        font-size: 20px;
        transform: translateY(2px);
    }

}

.initializedetailscontact {
    animation: initializeDetailsContact 550ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
    animation-delay: 800ms;
}

@keyframes initializeDetailsContact {

    0% {
        transform: translate(-50%, 20px);
        opacity: 0;
    }

    100% {
        transform: translate(-50%, 0px);
        opacity: 1;
    }

}

.uninitializeDetailsContact {
    animation: uninitializeDetailsContact 550ms cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
}

@keyframes uninitializeDetailsContact {

    0% {
        transform: translate(-50%, 0px);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, 40px);
        opacity: 0;
        display: none;
    }

}

.classlinksigtoggles {
    position: fixed;
    z-index: 5;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    transition: cubic-bezier(0.4, 0.0, 0.2, 1) 500ms all;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--ctacolor);
    border: solid 1px var(--bordercolor);
    left: 50%;
    transform: translateX(95%);
    left: 50%;
    bottom: 35px;
    opacity: 0;

    &.classlinksigtoggles ion-icon {
        color: var(--ColorUnderCta);
        font-size: 1.25rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-47%, -52.245%);
    }
}

.initializeclasslinksigtoggles {
    opacity: 1;
    transform: translateX(220%);
}