.section-typeface-1 {
    background-color: var(--theme-typeface-section-background);
    height: 100vh;
    min-height: 1080px;
    position: relative;
}

.section-typeface-1-content {
    max-width: 1000px;
    margin: auto;
}

.section-typeface1-content-text-description p {
    color: var(--theme-typeface-section-color);
    font-family: var(--theme-typeface-section-1-typeface);
    margin-top: 2rem;
    font-size: 24px;
}

.section-typeface1-content-text-title {
    padding-top: 8rem;
}

.section-typeface1-content-text-title img {
    width: 260px;
}

.section-typeface-1-image img {
    max-width: 1000px;
    width: 100%;
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translateX(-50%);
    min-width: auto;
    max-width: auto;
}

@media screen and (max-width: 1100px) {
    .section-typeface-1-content {
        max-width: 100%;
        padding: 0rem 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .section-typeface1-content-text-title img {
        width: 40%;
    }

    .section-typeface-1 {
        min-height: 900px;
    }

    .section-typeface1-content-text-description p {
        font-size: clamp(1rem, 4vw, 1.25rem);
    }
}

@media screen and (max-width: 540px) {
    .section-typeface-1 {
        min-height: 100vh;
    }

    .section-typeface1-content-text-title img {
        width: 60%;
    }
}

@media screen and (max-width: 340px) {
    .section-typeface1-content-text-description p {
        font-size: clamp(0.8rem, 4vw, 1.25rem);
    }
}

@media screen and (max-height: 600px) {
    .section-typeface-1 {
        min-height: 800px;
    }
}

/*  */

.section-typeface-2 {
    background-color: var(--theme-typeface-section-background);
    height: 100vh;
    min-height: 1080px;
    position: relative;
    overflow: hidden;
}

.section-typeface-2-content {
    max-width: fit-content;
    margin: auto;
    margin-top: 4rem;
}

.section-typeface-2-content-text-description {
    margin-top: 2rem;
}

#section-typeface-2-content-text-description-mobile-display {
    display: none;
}

.section-typeface-2-content-image-shwocase img {
    width: 815px;
    margin-top: 4rem;

    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 868px) {
    .section-typeface-2-content {
        max-width: 100%;
        padding: 0rem 1.25rem;

        display: flex;
        justify-content: center;
    }

    .section-typeface-2-content-text-description {
        margin-top: 0rem;
    }

    .section-typeface-2-content-text-title svg {
        width: 90%;
        height: fit-content;
    }

    .section-typeface-2-content-text-description svg {
        width: 100%;
        height: fit-content;
    }

    .section-typeface-2-content-image-shwocase img {
        width: 60%;
        padding: 0 1.25rem;
        left: 50%;
        transform: translateX(-50%);
    }

    .section-typeface-2 {
        min-height: 900px;
    }
}

@media screen and (max-width: 650px) {
    #section-typeface-2-content-text-description-mobile-display {
        display: block;
        width: 100%;
    }

    #section-typeface-2-content-text-description-desktop-display {
        display: none;
    }

    .section-typeface-2-content-text-title svg {
        width: 90%;
    }
}

@media screen and (max-width: 550px) {
    .section-typeface-2-content {
        flex-direction: column;
    }

    .section-typeface-2-content-text-title svg {
        width: 50%;
        margin-bottom: 2rem;
    }

    #section-typeface-2-content-text-description-mobile-display {
        width: 90%;
    }

    .section-typeface-2-content-image-shwocase img {
        width: 90%;
    }
}

@media screen and (max-width: 468px) {
    .section-typeface-2 {
        min-height: 100vh;
    }

    .section-typeface-2-content-text-title svg {
        width: 75%;
    }
}

/*  */

.section-typeface-3 {
    height: 1200px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: var(--theme-typeface-section-background-3);
}

#section-typeface-3-image-typewritter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#section-typeface-3-image-typewritter img {
    width: 100%;
    height: auto;
    margin-top: 4.5rem;
    max-width: 2560px;
}

#section-typeface-3-image-fonts-showcase img {
    width: clamp(280px, 50%, 900px);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.section-typeface-3-content-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    margin-top: 6rem;
    min-width: max-content;
}

.section-typeface-3-content-text p {
    font-family: var(--theme-typeface-section-1-typeface);
    line-height: 1.6;
    font-weight: 500;
    letter-spacing: -0.3px;
    font-size: clamp(14px, 2vw, 22px);
}

@media screen and (max-width: 1100px) {
    .section-typeface-3 {
        height: auto;
        padding-bottom: 2rem;
    }

    .section-typeface-3-content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .section-typeface-3-content-text {
        position: static;
        transform: none;
        padding: 0 1.25rem;
        margin-top: 2rem;
        align-content: center;
    }

    .section-typeface-3-content-text p {
        font-size: clamp(13px, 3.5vw, 18px);
    }

    #section-typeface-3-image-fonts-showcase img {
        position: static;
        transform: none;
        width: 55%;
        display: block;
        margin: 2.5rem auto 0;
    }
}

@media screen and (max-width: 768px) {
    #section-typeface-3-image-fonts-showcase img {
        width: 95%;
    }
}