* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s;
}

.Loading {
    width: 100%;
    height: 100%;
    background-color: #fffff9;
    /* Other */
    position: fixed;
    z-index: 100;
    transition: 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);

    .loadingImage {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &.loadingImage svg path {
            fill: #000;
            /* Anim */
            /* animation: AnimLoading 3.2s cubic-bezier(0.65, 0.05, 0.36, 1); */
            animation: AnimLoading 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
        }
    }
}

@keyframes AnimLoading {
    0% {
        opacity: 0;
        stroke: transparent;
        fill: transparent;
    }

    50% {
        stroke-width: 10px;
        stroke: #000;
        fill: transparent;
    }

    80% {
        stroke-width: 0px;
        stroke: transparent;
    }

}

@media (prefers-color-scheme: dark) {
    .Loading {
        width: 100%;
        height: 100%;
        background-color: #020202;

        .loadingImage {
            &.loadingImage svg path {
                fill: #fffff9;
            }
        }
    }

    @keyframes AnimLoading {
        0% {
            opacity: 0;
            stroke: transparent;
            fill: transparent;
        }

        50% {
            /* stroke-width: 10px; */
            stroke: transparent;
            fill: transparent;
        }

        80% {
            stroke-width: 0px;
            stroke: transparent;
        }

    }

}