.iconsRes {
    color: #ffffe9;
    display: none;
}

body.dark-theme .iconsRes {
    color: #000;
}

@media only screen and (max-width: 1280px) {
    * {
        cursor: default;
    }

    .cursor--large {
        display: none;
    }

    .cursor {
        display: none;
    }

    .Navbar {
        max-width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .iconsRes {
        display: block;
    }

    .navbarlinks {
        display: none;
    }

    .Navbar {
        max-width: 75%;
    }

    .headerTextMain h1 {
        font-size: 250px !important;
    }

    .headerTextMain strong {
        font-size: 400px !important;
    }

    .headerText p {
        font-size: 50px !important;
        transform: translateX(50px) !important;
    }

}

@media only screen and (max-width: 700px) {
    .headerTextMain h1 {
        font-size: 180px !important;
        letter-spacing: -15px !important;
    }

    .headerTextMain strong {
        letter-spacing: -35px !important;
        font-size: 300px !important;
    }

    .headerText p {
        font-size: 44px !important;
        transform: translateX(38px) !important;
    }

    .area {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    body .headerTextMain h1 {
        font-size: 120px !important;
        letter-spacing: -0px !important;
        font-family: 'Pixelify Sans' !important;
    }

    body .headerTextMain strong {
        letter-spacing: 0px !important;
        font-size: 120px !important;
    }

    body .headerText p {
        font-size: 34px !important;
        margin-bottom: 1rem !important;
    }

    .area {
        display: none;
    }
}

@media only screen and (max-width: 340px) {
    .headerTextMain h1 {
        font-size: 100px !important;
        letter-spacing: -5px !important;
    }

    .headerTextMain strong {
        letter-spacing: -15px !important;
        font-size: 180px !important;
    }

    .headerText p {
        font-size: 40px !important;
        transform: translateX(28px) !important;
    }

    .area {
        display: none;
    }
}

@media only screen and (max-height: 1080px) {
    .headerTextMain h1 {
        font-size: 220px !important;
        letter-spacing: -15px !important;
    }

    .headerTextMain strong {
        letter-spacing: -35px !important;
        font-size: 350px !important;
    }

    .headerText p {
        font-size: 44px !important;
        transform: translateX(42px) !important;
    }
}

.sidebar {
    width: 250px;
    height: 100dvh;
    background-color: #060606;
    border-right: 1px #222 solid;
    position: fixed;
    z-index: 12;
    transform: translateX(-300px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.85s;
}

body.dark-theme .sidebar {
    background-color: #fffff1;
}

.sidebartitile {
    display: flex;
    align-items: center;
    height: 50px;
    max-width: 220px;
    margin: 0 auto;
    margin-top: 0.5rem;

    &.sidebartitile svg {
        width: 13px;
        margin-left: 0.5rem;
    }

    &.sidebartitile h1 {
        color: #ffffe9;
        font-weight: 500;
        font-family: lineseedregular;
        font-size: 19.5px;
        transform: translate(5px, 1px);
        letter-spacing: -0.8px;
    }
}

body.dark-theme .sidebartitile h1 {
    color: #000;
}

body.dark-theme .sidebartitile svg {
    width: 13px;
    mix-blend-mode: difference;
    margin-left: 0.5rem;
}

.sidebarcon {
    max-width: 220px;
    margin: 0 auto;
    padding-top: 1rem;
}


.sidebarcon li a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 210px;
    margin: 0 auto;
    padding: 0rem 1.5rem;
    font-family: lineseedregular;
    height: 42px;
    margin-bottom: 0.5rem;
}

body.dark-theme .sidebarcon li a {
    color: #000;
}

.sidebarcon ion-icon {
    margin-right: 0.5rem;
}

.sidebarcon li a:hover {
    background-color: #ffffe9;
    color: #000;
    border-radius: 5px;
}

#sidebarhigh {
    color: #000;
    background-color: #ffffe9;
    border-radius: 5px;
}

body.dark-theme #sidebarhigh {
    background-color: #000;
    color: #ffffe9;
}

body.dark-theme .sidebarcon li a:hover {
    background-color: #000;
    color: #ffffe9;
}

#backgroundblur {
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(10, 10, 10, 0.811);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index: 10;
    transform: translateX(-100%);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.85s;
}

body.dark-theme #backgroundblur {
    background-color: rgba(255, 255, 233, 0.650);
}

/* card responsive */

@media only screen and (max-width: 2000px) {

    .cardimage img {
        width: 290px !important;
    }

    body.dark-theme .cardimage img {
        width: 290px !important;
    }

    .cardtext h1 {
        font-size: 32px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 32px !important;
    }

    .card {
        gap: 25px !important;
    }

    body.dark-theme .card {
        gap: 25px !important;
    }

}

@media only screen and (max-width: 1480px) {

    .cardimage img {
        width: 260px !important;
    }

    body.dark-theme .cardimage img {
        width: 260px !important;
    }

}

@media only screen and (max-width: 1280px) {

    .OffenCon  {
        max-width: 80% !important;
    }

    .cardimage img {
        width: 240px !important;
    }

    body.dark-theme .cardimage img {
        width: 240px !important;
    }

    .cardtext h1 {
        font-size: 28px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 28px !important;
    }
    
    .card {
        gap: 15px !important;
    }
    
    body.dark-theme .card {
        gap: 15px !important;
    }

}

@media only screen and (max-width: 1150px) {

    .card {
        overflow-x: auto;
    }

    .cardimage img {
        margin-left: 0.5rem;
    }
    .cardtext h1 {
        margin-left: 0.5rem;
    }
    
    .cardtext h1 {
        font-size: 28px !important;
    }
    
    body.dark-theme .cardtext h1 {
        font-size: 28px !important;
    }

}

/* Website introduce res */

@media only screen and (max-width: 1280px) {

    .ExpTit {
        max-width: 80% !important;
    }

}

@media only screen and (max-width: 1060px) {

    .Expain {
        transform: translateX(0px);
        height: 700px !important;

    }

    .ExpTit {
        flex-direction: column; 
        justify-content: flex-start !important;
    }

    .ExpTit h4 {
        margin-top: 4rem;
        text-align: left !important;
    }

    .ExpTit h1 {
        line-height: 1.2;
        margin-bottom: 1.25rem;
        margin-top: 5rem;
    }

    .ExpText {
        text-align: center !important;
    }

    .ExpTit a {
        text-align: center !important;
    }

    .ExpTit p {
        display: none;
    }

    /* other */

    .OffenCon {
        padding-top: 7rem !important;
    }

    .Offen {
        height: 1000px;
    }

}

@media only screen and (max-width: 425px) {

    .ExpTit h1 {
        font-size: 36px !important;
        letter-spacing: -1px !important;
    }
    
    .ExpTit h4 {
        font-size: 16px !important;
        width: 300px !important;
    } 
    
}


@media only screen and (max-width: 1280px) {

    .CardIntroContent {
        max-width: 80% !important;
    }

    .CardIntrotext h1 {
        font-size: 42px !important;
    }

    .CardIntrotext p {
        font-size: 13px !important;
    }

    .CardIntrotext ul {
        flex-direction: column;
        align-items: stretch !important;
        gap: 7px !important;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .CardIntroImage img {
        width: 500px !important;
    }

    .body.dark-theme .CardIntroImage img {
        width: 500px !important;
    }

}

@media only screen and (max-width: 1075px) {

    .CardIntroContent {
        flex-direction: column;
        height: 950px !important;
        justify-content: center !important;
    }

}

@media only screen and (max-width: 600px) {
    
    .CardIntroImage img {
        width: 450px !important;
    }

    .body.dark-theme .CardIntroImage img {
        width: 450px !important;
    }

}

@media only screen and (max-width: 450px) {

    .CardIntroImage img {
        width: 100% !important;
    }

    .body.dark-theme .CardIntroImage img {
        width: 100% !important;
    }

    .CardIntrotext p {
        font-size: 18px !important;
    }

}