@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    transition: all 0.5s;
    cursor: none;
}

.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 50;
    transition: none;
}

.cursor--large {
    --size: 40px;
    border: 3px solid currentColor;
}

.cursor--small {
    --size: 20px;
    background: currentColor;
    transform: translate(-50%, -50%);
}

body.dark-theme {
    background-color: #ffffe9;
}

body.dark-theme header {
    background-color: #FFFFF0;
}

body.dark-theme .area {
    background-color: #FFFFF0;
}

body.dark-theme .circles li {
    background: linear-gradient(#00000087, #00000087);
    filter: blur(70px);
    /* display: none; */
}

body.dark-theme .headerTextMain h1 {
    color: #000 !important;
}

/* Dark thene != light mode */

body.dark-theme nav {
    background-color: #FFFFF0;
    border-bottom: solid 1px #00000058;
}

body.dark-theme .NavLogo h1 {
    color: #000;
}

body.dark-theme .NavLogo svg {
    mix-blend-mode: difference;
}

body.dark-theme .navbarlinks li a {
    color: #000;
}

body.dark-theme #HighlightNavbar {
    color: #000;
    border-bottom: solid 2px #000;
}

body.dark-theme #TextSecContach {
    background-color: #000;
    color: #ffffE9;
}

body.dark-theme .headerTextMain strong {
    background: -webkit-linear-gradient(345deg, #000, #000) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    background-clip: text;
}

body.dark-theme .headerText p {
    background: -webkit-linear-gradient(345deg, #000, #000) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

header {
    position: relative;
    width: 100%;
    height: 100dvh;
    background-color: #000;

    .headercon {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        z-index: 5;

        .headerText {
            &.headerText p {
                /* color: #ffffE9; */
                /* font-family: LineSeedRegular; */
                font-family: Meltie;
                font-weight: 300;
                letter-spacing: -1px;
                font-size: 60px;
                line-height: 1.5;
                /* border-bottom: solid 1px #FFFFE9; */
                display: inline-block;
                transform: translateX(70px);
                background: -webkit-linear-gradient(345deg, #82d6c4, #ffffE9);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            .headerTextMain {
                width: 100%;
                position: relative;

                &.headerTextMain h1 {
                    color: #ffffE9;
                    font-size: 350px;
                    font-weight: 300;
                    /* font-family: Silkscreen; */
                    /* font-family: "Pixelify Sans", sans-serif; */
                    font-family: "Inter Tight", sans-serif;
                    letter-spacing: -25px;
                    line-height: 0.65;
                }

                &.headerTextMain strong {
                    /* color: #ffffe9; */
                    font-weight: 300;
                    letter-spacing: -65px;
                    /* font-family: "Pixelify Sans", sans-serif; */
                    font-family: Silkscreen;
                    font-size: 560px;
                    background: -webkit-linear-gradient(345deg, #82d6c4, #ffffE9);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }

        }
    }
}

:where(li, a) {
    list-style: none;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    border-bottom: solid 1px #2a2a2a;
    background-color: rgba(8, 8, 8, 0.810);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    z-index: 10;
}

.Navbar {
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.NavLogo {
    display: flex;
    align-items: center;
    width: 100%;
    display: fit-content;
    height: 55px;

    &.NavLogo svg {
        width: 13px;
    }

    &.NavLogo h1 {
        font-size: 19.5px;
        letter-spacing: -0.8px;
        /* font-family: Inter; */
        font-family: "LineSeedRegular", sans-serif;
        color: #ffffe9;
        font-weight: 500;
        transform: translate(5px, 1px);
    }
}

.navbarlinks {
    display: flex;
    align-items: center;
    gap: 22.5px;
    height: 55px;
    width: 100%;
    justify-content: end;

    &.navbarlinks li a {
        padding: 1.1rem 0rem;
        color: #cecece;
        font-size: 14.5px;
        position: relative;
        transition: all 0.25s;
        /* font-family: "Inter Tight", sans-serif; */
        font-family: "LineSeedRegular", sans-serif;

    }

    &.navbarlinks li ion-icon {
        padding: -0.1rem 0rem;
        color: #cecece;
        font-size: 20px;
        transform: translateY(2px);
    }

    &.navbarlinks li a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #ffffe9;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &.navbarlinks li a:hover:after {
        width: 100%;
        left: 0;
    }

    &.navbarlinks li a:hover {
        color: #ffffe9;
        cursor: pointer;
    }
}

body.dark-theme .navbarlinks li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

body.dark-theme .navbarlinks li a:hover {
    color: #000;
    cursor: pointer;
}

#TextSecContach {
    transition: cubic-bezier(0.1, 0.9, 0.2, 1) 1s all;
    background-color: #ffffe9;
    color: #000;
    padding: 0.45rem 1rem;
    border-radius: 50px;
}

#HighlightNavbar {
    color: #ffffe9;
    border-bottom: solid 2px #ffffe9;
    padding: 1.0rem 0rem;
}

#HighlightNavbar:hover:after {
    width: 0%;
    left: 0;
}

.area {
    background-color: #000;
    width: 100%;
    height: 100vh;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 80px;
    height: 80px;
    background: linear-gradient(#82d6c4, #FFFFC1);
    filter: blur(160px);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

.circles li:nth-child(1) {
    left: 25%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 50px;
    height: 50px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 50px;
    height: 50px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 100px;
    height: 100px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 50px;
    height: 50px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 160px;
    height: 160px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 185px;
    height: 185px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 55px;
    height: 55px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 180px;
    height: 180px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 10px;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 60%;
    }

}


@supports (animation-timeline: scroll()) {
    .headerTextMain h1 {
        animation: ScrollUp linear both;
        animation-timeline: scroll();
        animation-range: contain;
    }

    header {
        animation: Header linear both;
        animation-timeline: scroll();
        animation-range: contain;
    }
}

@keyframes ScrollUp {
    100% {
        font-size: 190px;
    }
}

@keyframes Header {
    100% {
        filter: blur(20px);
        opacity: 0;
    }
}

/* New navbar */
/* NewbottonNav */

body.dark-theme .navsoc {
    background-color: #ffffe9;
    border: solid 1px #000;
}

body.dark-theme .navsoccon li a {
    color: #000 !important;
}

body.dark-theme .navsoc::after {
    background-color: #000;
    mix-blend-mode: difference;
}

.navsoc {
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #0a0a0a;
    border: solid 1px #222;
    margin: 0 auto;
    border-radius: 50px;
    transition: 0.4s all;

    .navsoccon {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        width: 170px;

        &.navsoccon li a {
            display: block;
            width: 50px;
            text-align: center;
            color: #ffffE9;
            font-family: "inter tight";
            font-size: 22px;
            height: 50px;
            line-height: 50px;
            transition: 0.4s;
        }

        &.navsoccon li a:hover,
        .navsoccon ion-icon {
            background-color: #ffffE9;
            color: #000;
            border-radius: 70px;
        }

        &.navsoccon ion-icon {
            transform: translateY(3px);
        }
    }
}

.navsoc::after {
    content: "";
    position: absolute;
    background-color: #ffffE9;
    width: 100px;
    height: 4px;
    border-radius: 20px;
    bottom: 0;
    top: 50%;
    transform: translate(50%, 2.5rem);
    mix-blend-mode: difference;
}

/* Expain */

body.dark-theme .Expain {
    border-bottom: solid 1px #222;
    background-color: #fdfddc;
}

body.dark-theme .ExpainWallWave {
    background-color: #fdfddc;
}

.ExpainWallWave {
    height: 150px;
    width: 100%;
    clip-path: polygon(100% 100%, 0% 100%, 0.00% 26.67%, 5.00% 25.94%, 10.00% 23.92%, 15.00% 21.04%, 20.00% 17.94%, 25.00% 15.29%, 30.00% 13.66%, 35.00% 13.42%, 40.00% 14.61%, 45.00% 16.97%, 50.00% 20.00%, 55.00% 23.03%, 60.00% 25.39%, 65.00% 26.58%, 70.00% 26.34%, 75.00% 24.71%, 80.00% 22.06%, 85.00% 18.96%, 90.00% 16.08%, 95.00% 14.06%, 100.00% 13.33%);
    background-color: #121212;
}

.Expain {
    height: 565px;
    width: 100%;
    border-bottom: solid 1px #222;
    background-color: #121212;
    transform: translateY(-90px);

    .Exp {

        .ExpTit {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1100px;
            margin: 0 auto;
            height: 565px;

            &.ExpText {
                width: 50%;
                height: 565px;
            }

            &.ExpDes {
                height: 565px;
                width: 50%;
            }

            &.ExpTit h1 {
                font-family: lineseedRegular;
                letter-spacing: -3px;
                color: #ffffe9;
                font-weight: 400;
                font-size: 55px;
            }

            &.ExpTit p {
                font-family: SFPRO;
                font-size: 29.5px;
                color: #ffffe9;
                margin-bottom: 0.5rem;
            }

            &.ExpTit a {
                font-family: lineseedregular;
                font-size: 18px;
                letter-spacing: -0.4px;
                display: inline-block;
                color: #000;
                padding: 0.4rem 1.65rem;
                margin-top: 2.25rem;
                background-color: #ffffe9;
                border-radius: 50px;
            }

            &.ExpTit a>Strong {
                font-family: Sfpro;
                font-weight: 400;
            }

            &.ExpTit h4 {
                color: #fff;
                opacity: 100%;
                font-weight: 400;
                font-family: lineseedregular;
                width: 370px;
                letter-spacing: -0.7px;
                text-align: end;
                font-size: 20px;

            }
        }
    }
}

body.dark-theme .ExpTit h1 {
    color: #000 !important;
}

body.dark-theme .ExpTit h4 {
    color: #000 !important;
}

body.dark-theme .ExpTit p {
    color: #000 !important;
}

body.dark-theme .ExpTit a {
    background-color: #000 !important;
    color: #ffffE9 !important;
}

.Offen {
    height: 1200px;
    width: 100%;
    border-bottom: solid 1px #222;

    .OffenCon {
        margin: 0 auto;
        max-width: 1100px;
        padding-top: 3rem;

        .Offentext {

            &.Offentext h1 {
                color: #ffffe9;
                font-weight: 300;
                font-family: lineseedregular;
                letter-spacing: -1.5px;
                font-size: 45px;
                line-height: 1.25;
                margin-bottom: 1rem;
            }

            &.Offentext p {
                color: #fff;
                opacity: 30%;
                font-family: lineseedthin;
                -webkit-text-stroke-width: 0.5px;
                margin-bottom: 1.65rem;
            }
        }

        /* Card */

        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .cardcon {

                .cardimage {
                    &.cardimage img {
                        width: 340px;
                        margin-top: 2.58rem;
                        object-fit: cover;
                        /* content: url(./Image/Present/1.png); */
                        border-radius: 20px !important;
                        outline: solid 1px #222;
                    }
                }

                .cardtext {

                    &.cardtext h1 {
                        color: #ffffE9;
                        font-family: lineseedregular;
                        font-weight: 400;
                        letter-spacing: -1px;
                        margin-top: 2.5rem;
                        line-height: 1.4;
                        font-size: 36px;
                    }
                }

            }
        }

    }
}

body.dark-theme .cardtext h1 {
    color: #000 !important;
}
body.dark-theme .Offentext h1 {
    color: #000 !important;
}
body.dark-theme .Offentext p {
    color: #000 !important;
    opacity: 80% !important;
}

body.dark-theme .cardimage img {
    content: url('./Image/Present/1Light.png') !important;
    /* default */
    width: 340px !important;
    margin-top: 2.58rem !important;
    object-fit: cover !important;
    outline: solid 1px #222 !important;
    border-radius: 20px !important;
}

body.dark-theme #Im2 {
    content: url(./Image/Present/2Light.png) !important;
}

body.dark-theme #Im3 {
    content: url(./Image/Present/3Light.png) !important;
}

body.dark-theme #Im4 {
    content: url(./Image/Present/4Light.png) !important;
}