nav {
    width: 100%;
    position: fixed;
    z-index: 5;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    /* background-color: rgba(7, 7, 7, 0.605); */
}

body {
    background-color: #060606 !important;
    scroll-snap-align: start;
    overflow-x: hidden;
}

html {
    /* scroll-snap-type: both mandatory; */
    scroll-snap-type: y mandatory;
}

:where(li, a) {
    text-decoration: none;
    list-style: none;
}

.NavCon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    height: 70px;

    .NavText {
        display: flex;
        align-items: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &.NavText svg {
            height: 22.5px;
            width: 22.5px;
        }

        &.NavText h1 {
            font-family: LineSeedRegular;
            font-weight: 400;
            color: #ffffe9;
            letter-spacing: -0.8px;
            font-size: 20px;
            margin-left: 0.1rem;
        }
    }

    #LinkHighlightMenu {
        padding: 0.4rem 1.5rem;
        color: #000;
        border-radius: 50px;
        letter-spacing: -0.3px;
        -webkit-text-stroke-width: 0.6px;
        font-family: lineseedregular;
        background-color: #ffffe9;
        box-shadow: 0px 2px 10px 2px #303030;
        display: flex;
        align-items: center;
        justify-content: center;


        &:hover {
            filter: brightness(80%);
        }
    }

    #LinkHighlightMenu ion-icon {
        transform: translate(-1px, 0px);
        font-size: 16px;
    }

    .Navlinks {
        /* display: flex; */
        display: none;
        align-items: center;
        gap: 15px;

        &.Navlinks li a {
            color: #777;
            letter-spacing: -0.5px;
            font-family: lineseedregular;
            display: block;
            line-height: 55px;
            height: 55px;
            position: relative;
        }

        &.Navlinks li a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #ffffe9;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &.Navlinks li a:hover:after {
            width: 100%;
            left: 0;
        }

        &.Navlinks li a:hover {
            color: #ffffe9;
            cursor: pointer;
        }

        &.Navlinks li a:hover #NavSelect {
            color: #4a4a4a;
            border: none;
        }

        #NavSelect {
            line-height: 55px;
            border-bottom: solid 2px #ffffe9;
            height: 54px;
            display: block;
            color: #ffffe9;
        }

    }
}

#LinkHighlight {
    padding: 0.4rem 1rem;
    color: #000;
    border-radius: 50px;
    letter-spacing: -0.3px;
    -webkit-text-stroke-width: 0.4px;
    font-family: lineseedregular;
    background-color: #ffffe9;
    box-shadow: 0px 2px 10px 2px #303030;

    &:hover {
        filter: brightness(80%);
    }
}

#LinkHighlight strong {
    font-weight: 400;
    -webkit-text-stroke-width: 0.4px;
    font-family: "Anuphan", sans-serif;
}

#LinkHighlight ion-icon {
    transform: translate(-1px, 2px);
    font-size: 16px;
}

header {
    position: relative;
    width: 100%;
    height: 100dvh;
    scroll-snap-align: start;
}

.headercon {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
}

.sim img {
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60dvh;
    z-index: 2;
}

.headertext {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 4dvh;
    line-height: 1.5;
    transform: translate(-50%, -50%);

    &.headertext h1 {
        text-align: center;
        font-family: lineseedregular;
        color: #fff;
        letter-spacing: -0.4dvh;
        font-weight: 400;
    }

    &.headertext span {
        font-family: "Anuphan", sans-serif;
        letter-spacing: -1.5px;
        font-weight: 400;
    }

    &.headertext strong {
        text-align: center;
        font-family: sfpro;
        color: #ffffe9;
        font-weight: 400;
        letter-spacing: -1.5px;
    }

    &.headertext a {
        font-family: lineseedregular;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #121212;
        border: solid 1px #222;
        height: 5dvh;
        width: 20dvh;
        font-size: 2.5dvh;
        border-radius: 10dvh;
        color: #414141;
        margin: 0 auto;
    }
}

#spantextfontch {
    font-size: 8dvh;
    letter-spacing: -0.3px;
}

.bottomCtninfo {
    bottom: 0;
    width: 100%;
    height: 50px;
    /* border: solid 1px #fff; */
    position: absolute;
    bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottomCtninfo a {
    padding: 0.55rem 2rem;
    background-color: #ffffe9;
    color: #000;
    font-family: sfpro;
    display: block;
    font-size: 20px;
    display: block;
    border-radius: 13.5px;
    outline: solid 2px #222;
    -webkit-text-stroke-width: 0.3px;
    letter-spacing: -0.25px;
    box-shadow: 0px 2px 10px 2px #303030;
}

.Ctn {
    background-color: #ffffe9;
    outline: solid 2px #222;
    display: block;
    padding: 0.5rem;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 13.5px;
    box-shadow: 0px 2px 10px 2px #303030;
}

.Ctn ion-icon {
    position: absolute;
    color: #000;
    left: 50%;
    top: 48.5%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

main {
    background-color: #090909;
    scroll-snap-type: x mandatory;
    display: flex;
    align-items: center;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
}

.mainSection {
    height: 100dvh;
    width: 100dvw;
    scroll-snap-align: start;
}

.maincontent {
    max-width: 80%;
    margin: auto;

    #Iconheader {
        color: #ffffe9;
        font-size: 50px;
        margin-bottom: 1rem;
        margin-top: 14dvh;
    }

    /* .maintextHeader a {
        display: block;
        width: fit-content;
        color: #ffffe9;
        border-bottom: solid 1px #ffffe9;
        margin-bottom: 1rem;
        font-family: sfpro;
        font-size: 20px;
    } */
}

.me {
    background: url(./Image/NewDark.png);
    background-size: cover;
}

.email {
    background: #0f0f0f;
    border-radius: 4%;
    height: 32px;
    overflow: hidden;
    position: relative;
    width: 145px;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    display: flex;
    outline: solid 1px #181818;
    -webkit-tap-highlight-color: transparent;
    transition: width 300ms cubic-bezier(0.4, 0.0, 0.2, 1),
        height 420ms cubic-bezier(0.4, 0.0, 0.2, 1),
        box-shadow 420ms cubic-bezier(0.4, 0.0, 0.2, 1),
        border-radius 420ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.email:not(.expand) {
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.76, 0, 0.07, 1);
}

.email:not(.expand):active {
    background: #1f2020;
    transition: all 0.4s cubic-bezier(0.76, 0, 0.07, 1);
}

.from {
    position: absolute;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

.from-contents {
    display: flex;
    flex-direction: row;
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.to {
    opacity: 0;
    position: absolute;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
}

.to-contents {
    transform: scale(.55);
    transform-origin: 0 0;
    transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

/* This name title */
.avatar {
    border-radius: 4px;
    height: 24px;
    left: 6px;
    position: relative;
    top: 4px;
    width: 24px;
}

/* name this title on btn */
.name {
    font-size: 14px;
    line-height: 32px;
    margin-left: 8px;
    color: #ffffe9;
    text-align: center;
}

.top {
    background: #0f0f0f;
    display: flex;
    flex-direction: row;
    height: 65px;
    transition: height 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    width: 300px;
}

.avatar-large {
    border-radius: 21px;
    height: 42px;
    margin-left: 12px;
    position: relative;
    top: 14px;
    width: 42px;
}

.name-large {
    color: #ffffe9;
    font-size: 18px;
    line-height: 70px;
    margin-left: 17px;
    font-family: sfpro;
}

.x-touch {
    align-items: center;
    align-self: center;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    margin-left: auto;
    width: 50px;
}

/* This Btn close */

.x {
    border-radius: 10px;
    height: 20px;
    position: relative;
    width: 20px;
    color: #fff;
}

.x-touch:hover .x {
    background: #4a4a4a;
}

.line1 {
    background: #fff;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(45deg);
    width: 2px;
}

.line2 {
    background: #fff;
    height: 12px;
    position: absolute;
    transform: translateX(9px) translateY(4px) rotate(-45deg);
    width: 2px;
}

/*  */

.bottom {
    background: #0f0f0f;
    color: #fff;
    font-size: 14px;
    height: 200px;
    padding-top: 5px;
    width: 300px;
}

.row {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 60px;
}

.row:hover {
    background-color: #181818;
    transition: 0.2s;
}

.row:active {
    background-color: #232323;
}

#HeaderFacebookicons {
    margin-left: 16px;
    height: 25px;
    position: relative;
    top: 0px;
    width: 25px;
    transform: translateY(-1.2px);
}

#HeaderInstagramicons {
    height: 25px;
    margin-left: 16px;
    position: relative;
    width: 25px;
    transform: translateY(-1.2px);
}

.link {
    margin-left: 12px;
}

.link a {
    color: #ffffff;
    opacity: 70%;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
}

.link a:hover {
    color: #ffffff;
    opacity: 100%;
}

.email.expand {
    border-radius: 6px;
    height: 200px;
    width: 300px;
    outline: 1px solid #222;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.expand .from {
    opacity: 0;
    transition: opacity 100ms cubic-bezier(0.4, 0.0, 1, 1);
}

.expand .from-contents {
    transform: scale(1.91);
}

.expand .to {
    opacity: 1;
    transition: opacity 200ms 100ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

.expand .to-contents {
    transform: scale(1);
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }
}


.maintext {

    &.maintext h1 {
        color: #ffffe9;
        font-family: lineseedregular;
        font-weight: 400;
        letter-spacing: -0.7px;
        margin-bottom: 1.5rem;
        font-size: 5dvh;
    }

    &.maintext hr {
        width: 100px;
        border: solid 2px #fff;
        margin-bottom: 2rem;
    }

    .maintextSlideXpos {
        /* HeaderCard */
        position: relative;
        display: flex;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        gap: 10px;
        width: 100%;
        margin: auto;
        justify-content: start !important;
    }

    .maintextslidecon {
        height: 38dvh;
        width: 85%;
        color: #fff;
        scroll-snap-align: start;
        flex-shrink: 0;
        overflow: hidden;
        background-color: #0f0f0f;
        border-radius: 15px;
        border: solid 1px #222;
        position: relative;
    }

    .maintextslidecon p {
        font-size: 2dvh;
        padding: 2.25dvh;
        opacity: 60%;
        font-family: lineseedregular;
        font-weight: 400;
    }

    .bottomTextcontent {
        position: absolute;
        bottom: 0;
        height: 6dvh;
        background-color: #0c0c0c;
        width: 100%;

        &.bottomTextcontent ion-icon {
            color: #fff;
            font-size: 2.5dvh;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 2.25dvh;
        }
    }
}


.ScrollAbout2 {
    min-width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;

    .Aboutcontent {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 100dvh;
        display: grid;
        place-content: center;
        overflow: scroll;

        &.Aboutcontent h1 {
            color: #ffffe9;
            font-family: lineseedregular;
            margin-bottom: 2rem;
            font-weight: 400;
            letter-spacing: -1px;
            font-size: 5dvh;
        }

        &.Aboutcontent p {
            color: #fff;
            opacity: 50%;
            font-family: Thonburi;
            font-size: 2dvh;
            word-wrap: break-word;
            overflow-wrap: break-word;
        }
    }
}
