@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: SEGOE UI VARIABLE;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.75s all;
  user-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  text-rendering: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* cursor: none !important;  */
}

html {
  text-rendering: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #080808;
}

html.todesktop .header {
  -webkit-app-region: drag;
}

html.todesktop .header .nav {
  -webkit-app-region: no-drag;
}

body {
  background-color: #080808;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: var(--NavbarColor);
}

::-webkit-scrollbar-thumb {
  background: var(--NavbarColor);
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--SecColor);
  opacity: 70%;
}


.pattern {
  background: url(./Image/Pattern.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  opacity: 10%;
  transition: all ease 1.5s;
  z-index: -2;
  position: fixed;
}


#bgblur {
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 100vh;
  opacity: 0;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  background-color: rgba(14, 14, 14, 0.653);
}

.context-menu {
  position: absolute;
  background: #0c0c0c;
  border: 1px solid #1f1f1f;
  border-radius: 12px;
  z-index: 100;
  width: 298px;
  display: none;
  animation: 0.4s cubic-bezier(0.165, 0.84, 0.44, 1) RightClick;
  height: 460px;
  scale: 92%;
}

@media screen and (max-width: 1500px) {
  .context-menu {
    scale: 88%;
  }
}

@media screen and (max-width: 1000px) {
  .context-menu {
    scale: 93% !important;
  }
}

@keyframes RightClick {
  0% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

.context-menu ul {
  padding: 0px;
  margin: 0px;
  /* min-width: 150px; */
  width: 275px;
  list-style: none;
  margin-top: 0rem;
}

.ContactMenuContent {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 0.3rem;
}

.context-menu ul li {
  padding-bottom: 10px;
  padding-top: 8px;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 1rem;
  /* border-bottom: solid 1px #222; */
}

.context-menu ul li a {
  text-decoration: none;
  color: #ccc;
  font-family: LineSeedRegular;
}

.context-menu ul li ion-icon {
  font-size: 20px;
  transform: translateY(3px);
  margin-right: 0.7rem;
}

.context-menu ul li:hover {
  background: #191919;
  border-radius: 8px;
}

/* #FirstLink:hover {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
} */

.IconsLinks {
  border-top: 1px #1f1f1f solid;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.IconslinksContent {
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 60px;

}

.IconslinksContent a {
  color: #ccc;
  font-size: 22px;
  transform: translateY(2px);
  margin-right: 1rem;
}

.IconslinksContent a:hover {
  color: #ffffe9;
}

/* #FirstLink:hover {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
} */

.IconsLinks {
  border-top: 1px #222 solid;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.IconslinksContent {
  max-width: 240px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 50px;

}

.IconslinksContent a {
  color: #ccc;
  font-size: 22px;
  transform: translateY(2px);
  margin-right: 1rem;
}

.IconslinksContent a:hover {
  color: #ffffe9;
}

#DragArea {
  /* border: solid 2px red; */
  width: 100%;
  position: absolute;
  bottom: 20px;
  height: 60px;
  bottom: 0;
  overflow: hidden;
  z-index: 4;
}

#DragAreaEvents {
  /* border: solid 2px red; */
  width: 100%;
  position: absolute;
  bottom: 20px;
  height: 60px;
  top: 0;
  overflow: hidden;
  z-index: 4;
}

/* Dragable */

/* .DragAbleThemeSelc {
    position: relative;
} */

.DragAbleThemeChildElem {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  /* background-color: rgba(255, 255, 233, 0.467); */
  height: 60px;
  width: 400px;
}

.DragAbleFlowAreaBack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -12%);
  /* background-color: rgba(255, 255, 255, 0.674); */
  height: 250px;
  width: 400px;
}

.LeaveDivsFromSlideThemeDiv {
  display: none;
  opacity: 0;
  transform: translateY(-60px);
  /* Styleing ---> */
  color: var(--header-text);
  border: solid 1px var(--header-text);
  border-radius: 4px;
  padding: 0.5rem 1.5rem;
  font-size: 14px;
  width: 130px;
  text-align: center;
  /* Cursor */
  cursor: pointer;
}

/* Ripple click */

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 700ms linear;
  background-color: rgba(255, 255, 255, 0.795);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 101;
  mix-blend-mode: difference;
  transition: none;
}

.cursor--large {
  --size: 40px;
  border: 3px solid #ffffe9;
}

.cursor--small {
  --size: 20px;
  background: #ffffe9;
  transform: translate(-50%, -50%);
}