@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

html,
body {
    background-color: #0a0a0a !important;
}

.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 50;
    transition: none;
    -webkit-transition: none;
    /* Safari */
    -moz-transition: none;
    /* Firefox */
}

.cursor--large {
    --size: 40px;
    border: 3px solid currentColor;
}

.cursor--small {
    --size: 20px;
    background: currentColor;
    transform: translate(-50%, -50%);
}

body.dark-theme {
    background-color: #fdfdf3;
}

body.dark-theme nav {
    background-color: rgba(255, 255, 249, 0.900);
}

body.dark-theme .NavLogo h1 {
    color: #000;
}

body.dark-theme .NavLogo svg {
    /* mix-blend-mode: difference; */
    filter: invert(100%);
}

body.dark-theme .navbarlinks li a {
    color: #000;
}

body.dark-theme #HighlightNavbar {
    color: #000;
    border-bottom: solid 2px #000;
}

body.dark-theme #TextSecContach {
    background-color: #000;
    color: #ffffE9;
}


:where(li, a) {
    list-style: none;
    text-decoration: none;
}

nav {
    position: absolute;
    width: 100%;
    background-color: transparent;
    /* -webkit-backdrop-filter: blur(60px); */
    /* backdrop-filter: blur(60px); */
    z-index: 10;
    animation: fadeDown 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-delay: 0.9s;
}

@keyframes fadeDown {
    0% {
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        /* Safari */
        -moz-transform: translateY(-100px);
        /* Firefox */
        filter: blur(10px);
    }
}

.Navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    padding: 2rem 0rem;
}

.NavLogo {
    display: flex;
    align-items: center;
    width: 100%;
    display: fit-content;
    height: 55px;

    &.NavLogo svg {
        width: 130px;
        height: auto;
        display: block;
    }

    &.NavLogo h1 {
        font-size: 19.5px;
        letter-spacing: -0.3px;
        font-family: "inter tight", "LineSeedRegular", "Manrope", "sans-serif";
        /* font-family: "LineSeedRegular", sans-serif; */
        color: #ffffe9;
        font-weight: 500;
        transform: translate(5px, 1px);
        display: flex;
        align-items: center;
    }
}



#Slash {
    margin: 0rem 0.5rem;
    height: 22.5px;
    width: 1.8px;
    background-color: #ffffe9;
}

ิbody.dark-theme #Slash {
    background-color: #000;
}

.navbarlinks {
    display: flex;
    align-items: center;
    gap: 16.5px;
    height: 55px;
    width: 100%;
    justify-content: end;

    &.navbarlinks li a {
        padding: 1.1rem 0rem;
        color: #cecece;
        font-size: 13.5px;
        position: relative;
        transition: all 0.25s;
        /* font-family: "Inter Tight", sans-serif; */
        font-family: "LineSeedRegular", sans-serif;

    }

    &.navbarlinks li ion-icon {
        padding: -0.1rem 0rem;
        color: #cecece;
        font-size: 20px;
        transform: translateY(2px);
    }

    &.navbarlinks li a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #ffffe9;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
        /* Safari */
        -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
        /* Firefox */
        width: 0;
    }

    &.navbarlinks li a:hover:after {
        width: 100%;
        left: 0;
    }

    &.navbarlinks li a:hover {
        color: #ffffe9;
        cursor: pointer;
    }
}

body.dark-theme .navbarlinks li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    -webkit-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    /* Safari */
    -moz-transition: width 0.3s ease 0s, left 0.3s ease 0s;
    /* Firefox */
    width: 0;
}

body.dark-theme .navbarlinks li a:hover {
    color: #000;
    cursor: pointer;
    -webkit-cursor: pointer;
    /* Safari */
    -moz-cursor: pointer;
    /* Firefox */
}

#TextSecContach {
    transition: cubic-bezier(0.1, 0.9, 0.2, 1) 1s all;
    background-color: #ffffe9;
    color: #000;
    padding: 0.45rem 1rem;
    border-radius: 50px;
}

/* #HighlightNavbar {
    color: #ffffe9;
    border-bottom: solid 2px #ffffe9;
    padding: 1.0rem 0rem;
}

#HighlightNavbar:hover:after {
    width: 0%;
    left: 0;
} */

#Ytpeakkofficial svg {
    width: 140px;
    height: auto;
    display: block;
}


.sidebar {
    width: 250px;
    height: 100dvh;
    background-color: #0a0a0a;
    border-right: 1px #222 solid;
    position: fixed;
    z-index: 12;
    transform: translateX(-300px);
    transition: cubic-bezier(0.23, 1, 0.320, 1) 1.25s;
}

.sidebarElement {
    opacity: 0;
    transform: translateX(-80px);
    filter: blur(5px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    height: 100dvh;
}

body.dark-theme .sidebar {
    background-color: #fffff1;
    border-right: none;
}

.sidebartitile {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 220px;
    margin: 0 auto;

    &.sidebartitile svg {
        width: 13px;
        margin-left: 0.5rem;
    }

    &.sidebartitile h1 {
        color: #ffffe9;
        font-weight: 500;
        font-family: lineseedregular;
        font-size: 19.5px;
        transform: translate(5px, 1px);
        letter-spacing: -0.8px;
    }
}

body.dark-theme .sidebartitile h1 {
    color: #000;
}

body.dark-theme .sidebartitile svg {
    width: 13px;
    filter: brightness(0%);
    margin-left: 0.5rem;
}

.sidebarcon {
    max-width: 220px;
    margin: 0 auto;
    padding-top: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}


.sidebarcon li a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 210px;
    margin: 0 auto;
    padding: 0rem 1rem;
    font-family: lineseedregular;
    height: 42px;
    margin-bottom: 0.5rem;
}

body.dark-theme .sidebarcon li a {
    color: #000;
}

.sidebarcon ion-icon {
    margin-right: 0.5rem;
}

.sidebarcon li a:active {
    background-color: #ffffe9;
    color: #000;
    border-radius: 5px;
}

#sidebarhigh {
    color: #000;
    background-color: #ffffe9;
    border-radius: 5px;
}

body.dark-theme #sidebarhigh {
    background-color: #000;
    color: #ffffe9;
}

body.dark-theme .sidebarcon li a:active {
    background-color: #000;
    color: #ffffe9;
}

#Pkofficialsvg {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left top;
    opacity: 6%;
}

.bouncing-blob--blue {
    background: #162332;
}

.bouncing-blob--white {
    background: #070707;
    z-index: 2;
    width: 15vw;
}

.bouncing-blob--purple {
    background: #212132;
}

.bouncing-blob--pink {
    background: #ffb1ed50;
}

.bouncing-blobs-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bouncing-blobs-glass {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
    pointer-events: none;
}

.bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


header {
    position: relative;
    width: 100%;
    background-color: #070707;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 1;

    .headercon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 60px);
    }

    .headertext h1 {
        font-size: 20px;
        font-family: lineseedregular;
        color: #ffffe9;
        text-align: center;
        letter-spacing: -0.8px;
        font-weight: 400;
        letter-spacing: -0.5px;
        padding: 0.5rem 1.5rem;
        background-color: #0c0b0b;
        border: solid 1px #222;
        border-radius: 50px;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3.25rem;
    }

    .peakkofficial svg {
        width: 900px;
        height: auto;
        display: block;
        margin: 0 auto;
    }
}

.AnimationIntroduce {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.headernav {
    background-color: rgba(6, 6, 6, 0.7);
    /* background-color: transparent; */
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    position: sticky;
    width: 100%;
    height: 55px;
    top: 0;
    z-index: 10;

    .headernavcon {
        display: flex;
        max-width: 80%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        /* define height */
        height: 55px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .headernavwrapper {
        /* adjust postion */
        position: relative;
        background-color: #060606;
    }

    .links {
        display: flex;
        align-items: center;
        gap: 19.5px;

        &.links li a {
            color: #616161;
            font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
            height: 55px;
            display: flex;
            /* define center of links */
            width: fit-content;
            align-items: center;
            position: relative;
            font-size: 14px;
        }

        &.links li a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #ffffe9;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        &.links li a:hover:after,
        &.links li a.highlight:after {
            width: 100%;
            left: 0;
        }

        &.links li a:hover {
            color: #ccc;
            cursor: pointer;
        }

        &.links li a.highlight {
            color: #ffffe9;
        }

    }

    .hamburger {

        .hamcon {
            width: 10px;
            height: 55px;
            position: relative;
        }

        .hamcon ion-icon {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 19.5px;
            color: #ffffe9;
            margin: 0 auto;
            /* display: block; */
            display: none;
        }

    }

    #notusemediaelse {
        display: flex;
        align-items: center;
        gap: 19.5px;
    }
}

#Highlightheader {
    border-bottom: solid 2px #ffffe9;
    color: #ffffe9;
}

#Highlightheader::after {
    display: none;
}

#Pkidbutton {
    background-color: #ffffe9;
    color: #000;
    padding: 0.45rem 1rem;
    width: fit-content;
    border-radius: 50px;
    font-size: 14.5px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(4.5rem);
    transition: cubic-bezier(0.1, 0.9, 0.2, 1) 1s all;

    &#Pkidbutton a {
        color: #000;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
    }
}

/* sidebar */

.Headersidebar {
    width: 280px;
    height: 100vh;
    position: fixed;
    z-index: 12;
    background-color: rgba(10, 10, 10, 0.811);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    transform: translateX(-300px);
    transition: cubic-bezier(0.4, 0.0, 0.2, 1) 700ms all;
    border-right: solid 1px #222;

    .headersidebarcon {
        max-width: 230px;
        margin: 0 auto;
        position: relative;
        height: 100vh;
    }

    .hdcntlt {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 2.25rem 0px;
    }

    .hdcntlt ion-icon {
        font-size: 23.5px;
        transform: translate(1px, 0px);
        color: #ffffe9;
    }

    /* .hdcntlt h1 {
        color: #ffffe9;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        font-size: 22px;
        margin: 2rem 0px;
        display: flex;
        align-items: center;
        font-weight: 500;
    } */

    .hdcntlt svg {
        width: 110px;
        height: auto;
        display: flex;
        align-items: center;
        transform: translateY(-2.5px);
    }

    .hdsbcnlk {
        gap: 19.5px;
        position: absolute;
        min-width: 100%;
        bottom: 60px;

        &.hdsbcnlk li a {
            color: #fff;
            opacity: 45%;
            font-family: lineseedregular;
            font-size: 15.25px;
            display: flex;
            align-items: center;
            gap: 19.5px;
            width: 100%;
            position: relative;
            border-bottom: solid 1px #262626;
            justify-content: space-between;
            cursor: pointer;
            height: 55px;
        }

        &.hdsbcnlk li a ion-icon {
            font-size: 18px;
            transform: translateY(-1px);
        }

        &.hdsbcnlk li a.clicked {
            border-radius: 5px;
            opacity: 100%;
            color: #ffffE9;
        }

        &.hdsbcnlk li a.clicked:after {
            width: 100%;
            left: 0;
            background: #ffffe9;
        }

        &.hdsbcnlk li a:after {
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

    }

}


#backgroundblur {
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(10, 10, 10, 0.811);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: 11;
    /* transform: translateX(-100%); */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.85s;
    opacity: 0;
    display: none;
}

body.dark-theme #backgroundblur {
    background-color: rgba(255, 255, 233, 0.650);
}

section {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 1165px;
    border-bottom: solid 1px #1c1c1c;
    background-color: #070707;

    .secwhyweb {
        display: flex;
        max-width: 1100px;
        margin: 0 auto;
    }
}

.secwhywbimg {
    position: absolute;
    right: 0;
    bottom: 0;
}

.secwhywbimg svg {
    max-width: 45vw;
    width: 750px;
    min-width: 650px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.secwhywebtext {


    &.secwhywebtext span {
        padding: 0.35rem 1rem;
        color: #ffffE9;
        letter-spacing: 0px;
        font-size: 16px;
        background-color: transparent;
        display: block;
        width: fit-content;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        border-radius: 50px;
        border: solid 1px #343434;
        margin-top: 12.25rem;
    }

    &.secwhywebtext h1 {
        color: rgb(255, 255, 255);
        /* font-family: "Inter Tight", "LineSeedRegular", "sans-serif"; */
        font-family: "Inter Tight", "MiSANS", "IBM Plex Sans Thai", "sans-serif";
        font-size: 38px;
        line-height: 1.4;
        margin-top: 1.5rem;
        font-weight: 500;
        letter-spacing: -1.1px;
    }

    &.secwhywebtext h1 strong {
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        font-weight: 800;
        color: #ffffE9;
        border-bottom: solid 2px currentColor;
    }

    &.secwhywebtext p {
        color: #fff;
        opacity: 0.5;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        font-size: 14px;
        margin-top: 1.4rem;
        line-height: 1.7;
        letter-spacing: -0.3px;
        margin-bottom: 1.5rem;
    }
}

.secwhywebabtextcon a {
    padding: 0.5rem 1rem;
    display: inline-block;
    background-color: #ffffe9;
    color: #000;
    font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
    border-radius: 25px;
}

.secwhywebabcon {
    margin-top: 3.25rem;
}

.secwhywebabtext {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-bottom: 2rem;

    .secwybxticon ion-icon {
        font-size: 28px;
        color: #ffffe9;
    }

    .secwhywebabtextcon {

        &.secwhywebabtextcon h1,
        p {
            color: #ffffe9;
            font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
            line-height: 1.8;
            letter-spacing: -0.3px;
        }

        &.secwhywebabtextcon h1 {
            font-size: 16px;
            margin-bottom: 0.5rem;
        }

        &.secwhywebabtextcon p {
            color: #fff;
            opacity: 0.45;
            font-size: 12px;
            margin-bottom: 1.25rem;
        }

    }

}

#backgroundElements svg {
    transform: translateY(4px);
    width: 100vw;
    display: block;
    height: auto;
    transition: none;
}

.detailsWeb {
    height: 955px;
    width: 100%;
    position: relative;
    /* overflow: hidden; */

    .DeWbcon {
        max-width: 1100px;
        margin: 0 auto;
        /* position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); */
        margin-top: 5.5rem;
    }

    .DeWbtxt {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .DeWbtxt h1 {
        color: #ffffe9;
        /* font-family: "Inter Tight", "LineSeedRegular", "sans-serif"; */
        font-family: "Inter Tight", "MiSANS", "IBM Plex Sans Thai", "sans-serif";
        font-size: 38px;
        line-height: 1.4;
        font-weight: 500;
        letter-spacing: -1.1px;
    }

    .DeWbtxt p {
        color: #fff;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        font-size: 14px;
        margin-top: 1.25rem;
        letter-spacing: -0.3px;
        opacity: 30%;
    }

    .DoWbimg {
        display: flex;
        align-items: center;
        gap: 30px;

        &.DoWbimg img {
            width: 340px;
            object-fit: cover;
            border-radius: 20px !important;
            aspect-ratio: 9 / 14;
            outline: solid 1px #242424;
            overflow-x: scroll;
            filter: saturate(90%) contrast(90%);
        }
    }

    #SvgWebPortAbsoulte {
        position: absolute;
        left: 30%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 5%;
        width: 1000px;
        height: auto;
        display: block;
        background-attachment: fixed;
    }

    .DeWbDes p {
        color: #fff;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        font-size: 14px;
        margin-top: 1.25rem;
        opacity: 30%;
    }

    .DeWbDes a {
        padding: 0.5rem 1.25rem;
        background-color: #ffffE9;
        color: #000;
        border-radius: 25px;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        display: inline-block;
        margin-top: 2.25rem;
    }

    #mbDeWbDes {
        display: none;
    }
}

#responsivetext {
    --disable: none;
    display: var(--disable);

    .restextdw {
        width: fit-content;
        height: 50px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #222;

        #Backward {
            position: relative;
            width: 50px;
            height: 50px;

            &#Backward ion-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 20px;
            }
        }

        #Forward {
            position: relative;
            width: 50px;
            height: 50px;

            &#Forward ion-icon {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #fff;
                font-size: 20px;
            }
        }
    }
}

.whyweb {
    height: 940px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #070707;
}

.whywebcon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: auto;

    .whywebtxt h1 {
        color: #fff;
        font-weight: 400;
        font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        font-size: 42px;
        text-align: center;
        margin-bottom: 3rem;
    }

    .whywebtxt strong {
        font-family: "Inter Tight", "MiSANS", "IBM Plex Sans Thai", "sans-serif";
        font-weight: 500;
        letter-spacing: -1.5px;
        color: #000;
        border-radius: 8px;
        padding: 0.2rem 0.8rem;
        margin: 0rem 0.5rem;
        background-color: #ffffe9;
    }
}

.whywebimg img {
    width: 1000px;
    z-index: 1;
    transition: none;
}

.whywebimgmb svg {
    display: none;
    border-radius: 20px;
}

.DoWbImagecon {
    border-radius: 25px;
    height: auto;
    margin-top: 2.60rem;
    margin-bottom: 1.25rem;
    transition: 0.1s;
}

.whywebbtn {
    text-align: center;
}

.whywebbtn a {
    color: #000;
    background-color: #ffffe9;
    padding: 0.5rem 1.2rem;
    border-radius: 50px;
    font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
    display: inline-block;
    margin-top: 2.25rem;
    margin-left: auto;
    margin-right: auto;
}

.trySelf {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.trySelfcon {
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 750px;

    .trySelftxt {

        /* &.trySelftxt h1 {
            color: #fff;
            font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
        } */

        &.trySelftxt p {
            color: #fff;
            opacity: 35%;
            font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
            font-size: 22.5px;
            line-height: 1.6;
            letter-spacing: -0.25px;
        }
    }

    .trySelfsvg img {
        width: 560px;
        height: auto;
        display: block;
    }

}

.allinone {
    overflow: hidden;

    .allcon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        height: 750px;
    }

    .allimage svg {
        width: 420px;
        height: auto;
        display: block;
    }

    .alltext {

        &.alltext p {
            color: #fff;
            opacity: 35%;
            text-align: right;
            font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
            font-size: 22.5px;
            line-height: 1.6;
            letter-spacing: -0.25px;
        }
    }
}


.howweb {
    position: relative;
    width: 100%;
    background-color: #070707;
    overflow: hidden;

    .howwebwrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: auto;
        height: 1500px;
    }

    .howwebimage {
        position: absolute;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -50%);

        &.howwebimage img {
            width: 90vw;
            max-width: 1300px;
            min-width: 600px;
            height: auto;
        }
    }

    .howwebtext {
        position: absolute;
        min-width: 1100px;
        max-width: 1100px;
        height: 700px;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%);

        display: flex;
        align-items: center;
        justify-content: space-between;

        &.howwebtext h1 {
            color: #ffffe9;
            /* font-family: "Inter Tight", "LineSeedRegular", "sans-serif"; */
            font-family: "Inter Tight", "MiSANS", "IBM Plex Sans Thai", "sans-serif";
            font-size: 38px;
            line-height: 1.8;
            font-weight: 500;
            letter-spacing: -1.1px;
        }

        &.howwebtext strong {
            font-family: "Inter Tight", "MiSANS", "IBM Plex Sans Thai", "sans-serif";
            font-weight: 800;
            color: #000;
            line-height: 1.6;
            background-color: #ffffe9;
            padding: 0rem 0.8rem;
            display: inline-block;
            transform: translateY(0px);
            border-radius: 8px;
        }

        &.howwebtext p {
            font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
            font-size: 20px;
            letter-spacing: -0.3px;
            text-align: right;
            font-weight: 400;
            color: #fff;
            opacity: 35%;
            line-height: 1.6;
        }
    }
}

.ctacontact {
    overflow: hidden;
    position: relative;
    width: 100%;
    background-color: #0a0a0a;

    .ctacontactcontent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        height: 150px;
    }
}

.ctablock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#instagramcta,
#facebookcta,
#tiktokcta,
#youtubecta {
    background-color: #ffffE9;
    display: flex;
    align-items: center;
    padding: 0.5rem 1.5rem;
    width: fit-content;
    border-radius: 60px;
    justify-content: center;
    margin: 0.5rem;
    text-decoration: none;
}

#instagramcta ion-icon,
#facebookcta ion-icon,
#tiktokcta ion-icon,
#youtubecta ion-icon {
    font-size: 16px;
    transform: translateY(-1px);
    color: #000;
}

#instagramcta h1,
#facebookcta h1,
#tiktokcta h1,
#youtubecta h1 {
    font-family: "Inter Tight", "LineSeedRegular", "sans-serif";
    font-size: 16px;
    margin-left: 0.5rem;
    color: #000;
    font-weight: 400;
    -webkit-text-stroke-width: 0.3px;
}
