.iconsRes {
    color: #ffffe9;
    display: none;
}

#GoToHireAnim,
#GoToinstaAnim {
    display: none;
}

#DesktopHire {
    display: block;
}

body.dark-theme .iconsRes {
    color: #000;
}

@media (max-width: 1280px) {
    * {
        cursor: default;
    }

    .cursor--large,
    .cursor {
        display: none;
    }
}

@media (max-width: 1000px) {
    .iconsRes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90px;
        height: 50px;

        ion-icon {
            width: 40px;
            height: 19px;
        }
    }

    .headerTextMain h1,
    .headerTextMain strong {
        font-size: 200px !important;
        letter-spacing: 4px !important;
    }

    .headerText p {
        font-size: 50px !important;
    }

    #GoToHireAnim,
    #GoToinstaAnim {
        display: block;
    }

    #DesktopHire,
    #DesktopIG {
        display: none !important;
    }
}

@media (max-width: 500px) {
    .NavLogo h1 {
        display: none !important;
    }
}

/* define width & height header */

@media (max-height: 900px) {

    #Pkofficialsvg {
        width: 420px;
    }

    #Pkidbutton {
        transform: translateY(3rem);
    }

}

@media (max-width: 1460px) {

    #notusemediaelse {
        display: none !important;
    }

    .blank {
        display: none;
    }

    .headernavcon {
        position: relative !important;
        margin: 0 !important;
        max-width: 100% !important;
        padding: 0rem 2rem;
    }

    .hamcon ion-icon {
        display: block !important;
    }

}

@media (max-width: 1280px) {

    #Pkofficialsvg {
        width: 420px;
    }

    #Pkidbutton {
        transform: translateY(3rem);
    }

}

@media (max-width: 545px) {

    #Pkofficialsvg {
        width: 80%;
    }

    #Pkidbutton {
        transform: translateY(3.5rem);
    }

}