@media screen and (max-width: 1020px) {
    
    .bottomCtninfo a {
        display: none;
    }
    
    .Ctn {
        position: fixed;
        right: 40px;
        z-index: 3;
    }

}

@media screen and (max-width: 895px) {

    /* Use static */

    .headertext {
        font-size: 26px;
        width: 325px;
    }

    #spantextfontch {
        font-size: 50px;
    }

}

@media screen and (max-width: 555px) {

    #LinkHighlightMenu {
        display: none !important;
    }

    .NavText {
        position: absolute;
        left: 0 !important;
        transform: translate(0px, -50%) !important;
    }

}

@media screen and (max-width: 380px) {

    .headertext {
        font-size: 2.4dvh;
        width: 100%;
        letter-spacing: 0px;
        top: 50%;
    }

    #spantextfontch {
        font-size: 4.5dvh;
    }

    .headertext h1 {
        letter-spacing: -0.2dvh !important;
    }

    .headertext strong {
        font-size: 5dvh;
    }

    .Ctn {
        display: none;
    }

    .NavText h1 {
        display: none;
    }

    #LinkHighlight {
        transform: scale(50%);
    }

}