.iconsRes {
    color: #ffffe9;
    display: none;
}

#GoToHireAnim {
    display: none;
}

#DesktopHire {
    display: block;
}

#GoToinstaAnim {
    display: none;
}

body.dark-theme .iconsRes {
    color: #000;
}

@media only screen and (max-width: 1280px) {
    * {
        cursor: default;
    }

    .cursor--large {
        display: none;
    }

    .cursor {
        display: none;
    }

    .Navbar {
        max-width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .iconsRes {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90px;
        height: 50px;

        &.iconsRes ion-icon {
            width: 40px;
            height: 19px;
        }
    }

    .navbarlinks {
        display: none;
    }

    .Navbar {
        max-width: 75%;
        height: 65px;
    }

    .headerTextMain h1 {
        font-size: 200px !important;
        letter-spacing: 4px !important;
    }

    .headerTextMain strong {
        font-size: 200px !important;
    }

    .headerText p {
        font-size: 50px !important;
    }

    #GoToHireAnim {
        display: block;
    }

    #DesktopHire {
        display: none;
    }

    #DesktopIG {
        display: none !important;
    }

    #GoToinstaAnim {
        display: block;
    }

    .NavLogo h1 {
        left: 50%;
        position: absolute;
        transform: translateX(-50%) !important;
    }

}

@media only screen and (max-width: 700px) {
    .headerTextMain h1 {
        font-size: 160px !important;
        letter-spacing: -15px !important;
    }

    .headerTextMain strong {
        letter-spacing: -35px !important;
        font-size: 160px !important;
    }

    .headerText p {
        font-size: 44px !important;
        transform: translateX(38px) !important;
    }
}

@media only screen and (max-width: 700px) {
    body .headerTextMain h1 {
        font-size: 120px !important;
        letter-spacing: -0px !important;
        font-family: 'Pixelify Sans' !important;
    }

    body .headerTextMain strong {
        letter-spacing: 0px !important;
        font-size: 120px !important;
    }

    body .headerText p {
        font-size: 34px !important;
        margin-bottom: 1rem !important;
        transform: translateX(-0px) !important;
    }

}

@media only screen and (max-width: 500px) {

    .NavLogo h1 {
        left: 0%;
        position: static;
        transform: translate(8.5px,1px) !important;
    }
    
}

@media only screen and (max-width: 340px) {
    .headerTextMain h1 {
        font-size: 100px !important;
        letter-spacing: -5px !important;
    }

    .headerTextMain strong {
        letter-spacing: -15px !important;
        font-size: 180px !important;
    }

    .headerText p {
        font-size: 40px !important;
        transform: translateX(28px) !important;
    }
}

.sidebar {
    width: 250px;
    height: 100dvh;
    background-color: #0a0a0a;
    border-right: 1px #222 solid;
    position: fixed;
    z-index: 12;
    transform: translateX(-300px);
    transition: cubic-bezier(0.23, 1, 0.320, 1) 1.25s;
}

.sidebarElement {
    opacity: 0;
    transform: translateX(-80px);
    filter: blur(5px);
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    position: relative;
    height: 100dvh;
}

body.dark-theme .sidebar {
    background-color: #fffff1;
    border-right: none;
}

.sidebartitile {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 220px;
    margin: 0 auto;

    &.sidebartitile svg {
        width: 13px;
        margin-left: 0.5rem;
    }

    &.sidebartitile h1 {
        color: #ffffe9;
        font-weight: 500;
        font-family: lineseedregular;
        font-size: 19.5px;
        transform: translate(5px, 1px);
        letter-spacing: -0.8px;
    }
}

body.dark-theme .sidebartitile h1 {
    color: #000;
}

body.dark-theme .sidebartitile svg {
    width: 13px;
    filter: brightness(0%);
    margin-left: 0.5rem;
}

.sidebarcon {
    max-width: 220px;
    margin: 0 auto;
    padding-top: 1rem;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}


.sidebarcon li a {
    color: #fff;
    display: flex;
    align-items: center;
    width: 210px;
    margin: 0 auto;
    padding: 0rem 1rem;
    font-family: lineseedregular;
    height: 42px;
    margin-bottom: 0.5rem;
}

body.dark-theme .sidebarcon li a {
    color: #000;
}

.sidebarcon ion-icon {
    margin-right: 0.5rem;
}

.sidebarcon li a:active {
    background-color: #ffffe9;
    color: #000;
    border-radius: 5px;
}

#sidebarhigh {
    color: #000;
    background-color: #ffffe9;
    border-radius: 5px;
}

body.dark-theme #sidebarhigh {
    background-color: #000;
    color: #ffffe9;
}

body.dark-theme .sidebarcon li a:active {
    background-color: #000;
    color: #ffffe9;
}

#backgroundblur {
    position: fixed;
    width: 100%;
    height: 100dvh;
    background-color: rgba(10, 10, 10, 0.811);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    z-index: 10;
    /* transform: translateX(-100%); */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.85s;
    opacity: 0;
    display: none;
}

body.dark-theme #backgroundblur {
    background-color: rgba(255, 255, 233, 0.650);
}

/* card responsive */

@media only screen and (max-width: 2000px) {

    .cardimage img {
        width: 290px !important;
    }

    body.dark-theme .cardimage img {
        width: 290px !important;
    }

    .cardtext h1 {
        font-size: 32px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 32px !important;
    }

    .card {
        gap: 25px !important;
    }

    body.dark-theme .card {
        gap: 25px !important;
    }

}

@media only screen and (max-width: 1480px) {

    .cardimage img {
        width: 260px !important;
    }

    body.dark-theme .cardimage img {
        width: 260px !important;
    }

}

@media only screen and (max-width: 1280px) {

    .OffenCon {
        max-width: 80% !important;
    }

    .cardimage img {
        width: 240px !important;
    }

    body.dark-theme .cardimage img {
        width: 240px !important;
    }

    .cardtext h1 {
        font-size: 28px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 28px !important;
    }

    .card {
        gap: 15px !important;
    }

    body.dark-theme .card {
        gap: 15px !important;
    }

}

@media only screen and (max-width: 1150px) {

    .card {
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
    }

    .cardcon {
        scroll-snap-align: start;
        flex-shrink: 0;
    }

    .cardimage img {
        margin-left: 0.5rem;
    }

    .cardtext h1 {
        margin-left: 0.5rem;
        font-size: 24px !important;
    }

    body.dark-theme .cardtext h1 {
        font-size: 24px !important;
    }

}

/* Website introduce res */

@media only screen and (max-width: 1280px) {

    .ExpTit {
        max-width: 80% !important;
    }

}

@media only screen and (max-width: 1060px) {

    .Expain {
        transform: translateX(0px);
        height: 550px !important;

    }

    .ExpTit {
        flex-direction: column;
        justify-content: flex-start !important;
    }

    .ExpTit h4 {
        margin-top: 4rem;
        text-align: left !important;
        font-size: 17px !important;
    }

    .ExpTit h1 {
        line-height: 1.2;
        margin-bottom: 1.25rem;
        margin-top: 5rem;
    }

    .ExpText {
        text-align: center !important;
    }

    .ExpTit a {
        text-align: center !important;
    }

    .ExpTit p {
        display: none;
    }

    /* other */

    .OffenCon {
        padding-top: 7rem !important;
    }

    .Offen {
        height: 1000px;
    }

}

@media only screen and (max-width: 425px) {

    .ExpTit h1 {
        font-size: 36px !important;
        letter-spacing: -1px !important;
    }

    .ExpTit h4 {
        font-size: 16px !important;
        width: 300px !important;
    }

}


@media only screen and (max-width: 1280px) {

    .CardIntroContent {
        max-width: 80% !important;
    }

    .CardIntrotext h1 {
        font-size: 42px !important;
    }

    .CardIntrotext p {
        font-size: 13px !important;
    }

    .CardIntrotext ul {
        flex-direction: column;
        align-items: stretch !important;
        gap: 7px !important;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .CardIntrotext {
        width: 100% !important;
    }

}

@media only screen and (max-width: 975px) {

    .CardIntroContent {
        flex-direction: column;
        /* height: 100dvh !important; */
        justify-content: center !important;
    }

}

/* PriceCard */

@media only screen and (max-width: 1280px) {

    .PriceTagRecContent {
        max-width: 80% !important;
    }

}

@media only screen and (max-width: 1080px) {

    .PriceTagRecCard {
        width: 380px !important;
        margin-bottom: 2rem;
        height: 850px !important;
    }

    .PriceTagRecButton button {
        width: 300px;
    }

    .PriceTagRecButton {
        width: 300px;
    }

    .PriceTagRecText h1 {
        font-size: 42px !important;
    }

    .PriceTagRecText p {
        font-size: 13px !important;
    }

}

@media only screen and (max-width: 925px) {

    .PriceTagRecText h1 {
        font-size: 36px !important;
    }

}

@media only screen and (max-width: 835px) {

    .PriceTagRecContent {
        flex-direction: column;
        padding-top: 5rem;
        justify-content: flex-start;
        align-items: stretch;
        height: 1920px !important;
    }

    .PriceTagRec {
        height: 1990px;
    }

    .PriceTagRecText h1 {
        font-size: 42px !important;
    }

    .PriceTagRecText p {
        font-size: 15.5px !important;
    }

    /* All card */

    .AllPriceCard {
        flex-direction: column;
    }

    .AllPctitle p {
        width: 300px;
        margin: 0 auto;
    }

    .Allprice {
        height: 1670px;
    }

    .AllPCon {
        width: 380px !important;
    }

    .AllpcBtn a {
        width: 308px !important;
    }

    .AllPctitle h1 {
        font-size: 44px !important;
    }

    .AllPctitle p {
        font-size: 18px !important;
    }

}

@media only screen and (max-width: 400px) {

    .PriceTagRecText h1 {
        font-size: 36px !important;
    }

    .PriceTagRecCard {
        width: 340px !important;
    }

    .PriceTagRecButton button {
        width: 260px;
    }

    .PriceTagRecButton {
        width: 260px;
    }

    .AllPCon {
        width: 340px !important;
        height: 560px !important;
    }

    .AllpcBtn a {
        width: 268px !important;
    }

    body.dark-theme .AllPCon {
        box-shadow: -5px 5px 0px #000;
    }

}

@media only screen and (max-width: 360px) {
    .PriceTagRecText p {
        font-size: 13.5px !important;
    }
}

@media only screen and (max-width: 340px) {

    .PriceTagRecCard {
        width: 300px !important;
    }

    .PriceTagRecButton button {
        width: 220px !important;
    }

    .PriceTagRecButton a {
        width: 220px !important;
    }

}

@media only screen and (max-width: 500px) {
    body.dark-theme .PriceTagRecCardContent::before {
        display: none;
    }

    .PriceTagRecCardContent::before {
        display: none;
    }

}


/* card content */

@media only screen and (max-width: 1280px) {

    .aboutwrapper {
        max-width: 80% !important;
    }

    .aboutcardcontent {
        width: 305px !important;
        /* box-shadow: none !important; */
    }

}

@media only screen and (max-width: 1140px) {

    .aboutcardwrapper {
        position: relative;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        overscroll-behavior-x: contain;
        gap: 15px;
    }

    .aboutcardcontent {
        scroll-snap-align: start;
        flex-shrink: 0;
        box-shadow: none !important;
    }

}

@media only screen and (max-width: 795px) {

    .abouttextcontent {
        display: block !important;
    }

    .abouttext {
        margin-bottom: 2.5rem;
    }

    .aboutinfor h1 {
        display: flex !important;
        width: fit-content;
    }

    .abouttext h1 {
        font-size: 54px !important;
    }

    .abouttext p {
        font-size: 21.25px !important;
    }

    .aboutbg {
        display: block !important;
        left: 60%;
    }

}

@media only screen and (max-width: 530px) {

    .aboutbg {
        left: 10%;
        top: 130px !important;
    }

    .aboutbg ion-icon {
        color: #ffffe9 !important;
        font-size: 50px !important;
    }

}

@media only screen and (max-width: 425px) {

    .aboutcardcontent {
        width: 80% !important;
        height: 400px !important;
        min-height: 400px !important;
    }

    .aboutcontext h1 {
        font-size: 30px !important;
    }

    .aboutcontext p {
        /* font-size: 11.5px !important; */
        font-size: 3.125vw !important;
    }

    .about {
        height: 100vh;
        min-height: 870px !important;
    }

    .aboutwrapper {
        height: 100vh !important;
        min-height: 870px !important;
    }

    .abouttextcontent {
        padding-top: 7.5rem !important;
    }

    .aboutbg {
        display: none !important;
    }

}

@media only screen and (max-width: 375px) {

    .aboutinfor h1 {
        letter-spacing: -0.3px !important;
        font-size: 14px !important;
    }

    .aboutinfor p {
        margin-left: 0.2rem !important;
        font-size: 14px !important;
    }

    .aboutcardcontent {
        width: 100% !important;
    }

    .aboutcontext p {
        font-size: 3.65vw !important;
    }

    .abouttext p {
        font-size: 20px !important;
    }

}

/* MewLastintro */

@media only screen and (max-width: 795px) {

    .intromew svg {
        width: 350px !important;
    }

    .intromewcontenttext h1 {
        font-size: 32px !important;
        top: 250px !important;
    }

    .intromewcontenttext a {
        top: 360px !important;
    }

    .introducemew {
        height: 570px !important;
        min-height: 570px;
    }

}

@media only screen and (max-width: 540px) {

    .intromew svg {
        width: 260px !important;
    }

    .intromewcontenttext h1 {
        font-size: 24px !important;
    }

    .intromewcontenttext a {
        top: 325px !important;
    }

}

@media only screen and (max-width: 405px) {

    .intromewcontenttext h1 {
        min-width: max-content;
    }

    .intromew {
        width: 100%;
    }

    .sortmewimage svg {
        margin-top: 7rem !important;
        margin-bottom: 3rem !important;
        height: fit-content !important;
    }

}

@media only screen and (max-width: 350px) {

    .intromew svg {
        width: 60% !important;
    }

    .sortbymew {
        height: 570px !important;
        min-height: 570px;
    }

    .sortmewtext h1 {
        font-size: 32px !important;
    }

    .intromewcontenttext h1 {
        font-size: 20px !important;
        top: 235px !important;
    }

    .intromewcontenttext a {
        top: 305px !important;
    }

}

/* cut text title when 360px */

@media screen and (max-width: 360px) {

    .NavLogo h1 {
        display: none;
    }

    .ResThemeswic2 {
        opacity: 0;
    }

}

/* footer */

@media only screen and (max-width: 485px) {

    .footerlink {
        max-width: 320px !important;
    }

    .footerlink li a {
        font-size: 14px !important;
    }

    .footertext h1 {
        font-size: 20px !important;
    }

}

@media only screen and (max-width: 1000px) {

    .headercontent svg {
        width: 600px !important;
    }

}

@media only screen and (max-width: 600px) {

    .headercontent svg {
        width: 500px !important;
    }

}

@media only screen and (max-width: 500px) {
    
    .headercontent svg {
        width: 400px !important;
    }

}

@media only screen and (max-width: 400px) {
    
    .headercontent svg {
        width: 360px !important;
    }

}

@media only screen and (max-width: 360px) {
    
    .headercontent svg {
        width: 340px !important;
    }

}

@media only screen and (max-width: 340px) {
    
    .headercontent svg {
        width: 320px !important;
    }

}