@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*,
*::after,
*::before {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    transition: all 0.5s;
    /* cursor: none; */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cursor {
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    z-index: 50;
    transition: none;
}

.cursor--large {
    --size: 40px;
    border: 3px solid currentColor;
}

.cursor--small {
    --size: 20px;
    background: currentColor;
    transform: translate(-50%, -50%);
}

body.dark-theme {
    background-color: #fdfdf3;
}

body.dark-theme header {
    background-color: #FFFFF9;
}

body.dark-theme .area {
    background-color: #FFFFF9;
    opacity: 70%;
}

/* Dark thene != light mode */

body.dark-theme nav {
    background-color: rgba(255, 255, 249, 0.900);
}

body.dark-theme .NavLogo h1 {
    color: #000;
}

body.dark-theme .NavLogo svg {
    /* mix-blend-mode: difference; */
    filter: invert(100%);
}

body.dark-theme .navbarlinks li a {
    color: #000;
}

body.dark-theme #HighlightNavbar {
    color: #000;
    border-bottom: solid 2px #000;
}

body.dark-theme #TextSecContach {
    background-color: #000;
    color: #ffffE9;
}

@keyframes ScaleUp {
    0% {
        scale: 0%;
        opacity: 0;
        filter: blur(20px);
    }
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;

    .headercontent {
        position: absolute;
        left: 50%;
        top: 52.5%;
        transform: translate(-50%, -50%);
    }

    .headercontent svg {
        width: 800px;
        height: auto;
        display: block;
        margin: 0 auto;
        animation: Headersvg 1.25s cubic-bezier(0.4, 0.0, 0.2, 1) forwards;
        animation-delay: 2s;
    }

}

@keyframes Headersvg {

    0% {
        opacity: 0;
        transform: translateY(125px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0px);
    }

}

body.dark-theme #DarkmodeHeader {
    display: none;
}

#lightmodeHeader {
    display: none;
}

body.dark-theme #lightmodeHeader {
    display: block;
}

/* animation */

.area {
    background: transparent;
    width: 100%;
    height: 100vh;
    position: absolute;
}

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0%;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgb(8, 8, 8);
    animation: animate 25s linear infinite;
    box-shadow: rgba(27, 27, 27, 0.56) 5px 5px 2px 1px;
    bottom: -150px;
    backdrop-filter: blur(20px);
    border: solid 1px #111;
}

body.dark-theme .circles li {
    box-shadow: rgba(255, 255, 255, 0.089) 5px 5px 2px 5px;
    background: transparent;
    border: solid 1px #000;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 90px;
    height: 90px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 90px;
    height: 90px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 35px;
    height: 35px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 170px;
    height: 170px;
    animation-delay: 0s;
    animation-duration: 11s;
}

.circles li:nth-child(11) {
    left: 50%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
}


.circles li:nth-child(12) {
    left: 25%;
    width: 140px;
    height: 140px;
    animation-delay: 2s;
    animation-duration: 12s;
}


@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1600px) rotate(720deg);
        opacity: 0.9;
        border-radius: 5%;
    }
}

:where(li, a) {
    list-style: none;
    text-decoration: none;
}

nav {
    position: fixed;
    width: 100%;
    background-color: transparent;
    /* -webkit-backdrop-filter: blur(60px); */
    /* backdrop-filter: blur(60px); */
    z-index: 10;
    animation: fadeDown 0.4s cubic-bezier(0.4, 0.0, 0.2, 1);
    animation-delay: 0.9s;
}

@keyframes fadeDown {
    0% {
        transform: translateY(-100px);
        filter: blur(10px);
    }
}

.Navbar {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
}

.NavLogo {
    display: flex;
    align-items: center;
    width: 100%;
    display: fit-content;
    height: 55px;

    &.NavLogo svg {
        width: 13px;
    }

    &.NavLogo h1 {
        font-size: 19.5px;
        letter-spacing: -0.4px;
        /* font-family: Inter; */
        font-family: "LineSeedRegular", sans-serif;
        color: #ffffe9;
        font-weight: 500;
        transform: translate(5px, 1px);
    }
}

.navbarlinks {
    display: flex;
    align-items: center;
    gap: 19.5px;
    height: 55px;
    width: 100%;
    justify-content: end;

    &.navbarlinks li a {
        padding: 1.1rem 0rem;
        color: #cecece;
        font-size: 14.5px;
        position: relative;
        transition: all 0.25s;
        /* font-family: "Inter Tight", sans-serif; */
        font-family: "LineSeedRegular", sans-serif;

    }

    &.navbarlinks li ion-icon {
        padding: -0.1rem 0rem;
        color: #cecece;
        font-size: 20px;
        transform: translateY(2px);
    }

    &.navbarlinks li a:after {
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background: #ffffe9;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
    }

    &.navbarlinks li a:hover:after {
        width: 100%;
        left: 0;
    }

    &.navbarlinks li a:hover {
        color: #ffffe9;
        cursor: pointer;
    }
}

body.dark-theme .navbarlinks li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

body.dark-theme .navbarlinks li a:hover {
    color: #000;
    cursor: pointer;
}

#TextSecContach {
    transition: cubic-bezier(0.1, 0.9, 0.2, 1) 1s all;
    background-color: #ffffe9;
    color: #000;
    padding: 0.45rem 1rem;
    border-radius: 50px;
}

#HighlightNavbar {
    color: #ffffe9;
    border-bottom: solid 2px #ffffe9;
    padding: 1.0rem 0rem;
}

#HighlightNavbar:hover:after {
    width: 0%;
    left: 0;
}

/* New navbar */
/* NewbottonNav */

.callinaction {
    width: 100%;
    height: 150px;
    /* outline: solid 1px #fff; */
    position: absolute;
    z-index: 8;
    bottom: 0;
    transition: width 1s cubic-bezier(0.4, 0.0, 0.2, 1) all;

    .callinactionwrapper {
        position: relative;
        width: 100%;
        height: 150px;
    }

    .callinactioncon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
    }

    .ctatext {
        width: 180px;
        margin-right: 0.75rem;
        height: 50px;
        display: flex;
        background-color: #0f0f0f;
        border: solid 1px #222;
        border-radius: 50px;
        position: relative;
        transition: width 1s cubic-bezier(0.4, 0.0, 0.2, 1) all;

        &.ctatext a {
            color: #ffffe9;
            font-family: lineseedregular;
            font-size: 20px;
            letter-spacing: -0.3px;
            text-align: center;
            line-height: 48px;
            margin: 0 auto;
            width: fit-content;
        }
    }

    .ctabutton {
        width: 50px;
        height: 50px;
        background-color: #0f0f0f;
        border: solid 1px #222;
        border-radius: 50px;
        position: relative;

        &.ctabutton a {
            color: #ffffE9;
            font-size: 20px;
            position: absolute;
            left: 50%;
            top: 55%;
            /* make more center with icon */
            transform: translate(-50%, -50%);
        }
    }
}

body.dark-theme .ctatext {
    background-color: #fdfdf3;
    border: solid 1px #000;
}

body.dark-theme .ctatext a {
    color: #000 !important;
}

body.dark-theme .ctabutton {
    background-color: #fdfdf3;
    border: solid 1px #000;
}

body.dark-theme .ctabutton a {
    color: #000 !important;
}

/* Expain */

body.dark-theme .Expain {
    border-bottom: solid 0px #222;
    border-top: solid 0px #222;
    background-color: #fdfdf3;
}

.Expain {
    height: 565px;
    width: 100%;
    border-bottom: solid 1px #222;
    border-top: solid 1px #222;
    background-color: #0d0d0d;

    .Exp {

        .ExpTit {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1100px;
            margin: 0 auto;
            height: 565px;

            &.ExpText {
                width: 50%;
                height: 565px;
            }

            &.ExpDes {
                height: 565px;
                width: 50%;
            }

            &.ExpTit h1 {
                font-family: lineseedRegular;
                letter-spacing: -3px;
                color: #ffffe9;
                font-weight: 400;
                font-size: 55px;
            }

            &.ExpTit p {
                font-family: SFPRO;
                font-size: 29.5px;
                color: #ffffe9;
                margin-bottom: 0.5rem;
            }

            &.ExpTit a {
                font-family: lineseedregular;
                font-size: 18px;
                letter-spacing: -0.4px;
                display: inline-block;
                color: #000;
                padding: 0.4rem 1.65rem;
                margin-top: 2.25rem;
                background-color: #ffffe9;
                border-radius: 50px;
            }

            &.ExpTit a>Strong {
                font-family: Sfpro;
                font-weight: 400;
            }

            &.ExpTit h4 {
                color: #fff;
                opacity: 100%;
                font-weight: 400;
                font-family: lineseedregular;
                width: 370px;
                letter-spacing: -0.7px;
                text-align: end;
                font-size: 20px;

            }
        }
    }
}

#FrameHire {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.2s cubic-bezier(0.4, 0.0, 0.2, 1);
    display: none;
}

#GoToHireAnim {
    transition: 0.35s cubic-bezier(0.4, 0.0, 0.2, 1);
}

#ExpainLinkOverlay {
    opacity: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.715);
    z-index: 5;
    cursor: pointer;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.85s;
}

body.dark-theme .ExpCho {
    background-color: #fffff9;
    border: solid 1px #eee;
}

.ExpCho {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 310px;
    border-radius: 20px;
    background-color: #0f0f0f;
    border: solid 1px #222;

    &.ExpCho h1 {
        font-family: lineseedregular;
        font-size: 34px;
        width: 70%;
        line-height: 1.4;
        margin-left: auto;
        margin-right: auto;
        letter-spacing: -1px;
        text-align: center;
        margin-top: 2rem;
        font-weight: 400;
    }
}

body.dark-theme .ExpCho h1 {
    color: #000;
}

.ExpCho h1 {
    color: #fff;
}

.Explink {
    width: 80%;
    margin: auto;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.Explink a {
    background-color: #ffffE9;
    color: #000;
    display: block;
    text-align: center;
    padding: 0.6rem 1rem;
    font-family: lineseedregular;
    margin-bottom: 1rem;
    border-radius: 30px;
}

body.dark-theme .Explink a {
    color: #ffffe9;
    background-color: #000;
}

body.dark-theme #ExpainLinkOverlay {
    background-color: rgba(255, 255, 246, 0.815);
}

body.dark-theme .ExpTit h1 {
    color: #000 !important;
}

body.dark-theme .ExpTit h4 {
    color: #000 !important;
}

body.dark-theme .ExpTit p {
    color: #000 !important;
}

body.dark-theme .ExpTit a {
    background-color: #000 !important;
    color: #ffffE9 !important;
}

body.dark-theme .Offen {
    border: none;
}

.Offen {
    height: 1200px;
    width: 100%;
    border-bottom: solid 1px #222;

    .OffenCon {
        margin: 0 auto;
        max-width: 1100px;
        padding-top: 6rem;

        .Offentext {

            &.Offentext h1 {
                color: #ffffe9;
                font-weight: 300;
                font-family: lineseedregular;
                letter-spacing: -1.5px;
                font-size: 45px;
                line-height: 1.25;
                margin-bottom: 1rem;
            }

            &.Offentext p {
                color: #fff;
                opacity: 30%;
                font-family: lineseedthin;
                -webkit-text-stroke-width: 0.5px;
                margin-bottom: 1.65rem;
            }
        }

        /* Card */

        .card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 50px;

            .cardcon {

                .cardimage {
                    &.cardimage img {
                        width: 340px;
                        margin-top: 2.58rem;
                        object-fit: cover;
                        /* content: url(./Image/Present/1.png); */
                        border-radius: 20px !important;
                        outline: solid 1px #222;
                        pointer-events: none;
                    }
                }

                .cardtext {

                    &.cardtext h1 {
                        color: #ffffE9;
                        font-family: lineseedregular;
                        font-weight: 400;
                        letter-spacing: -1px;
                        margin-top: 2.5rem;
                        line-height: 1.4;
                        font-size: 26px;
                    }
                }

            }
        }

    }
}

body.dark-theme .cardtext h1 {
    color: #000 !important;
}

body.dark-theme .Offentext h1 {
    color: #000 !important;
}

body.dark-theme .Offentext p {
    color: #000 !important;
    opacity: 80% !important;
}

body.dark-theme .cardimage img {
    content: url('./Image/Present/1Light.png') !important;
    /* default */
    width: 340px !important;
    margin-top: 2.58rem !important;
    object-fit: cover !important;
    outline: solid 1px #222 !important;
    border-radius: 20px !important;
}

body.dark-theme #Im2 {
    content: url(./Image/Present/2Light.png) !important;
}

body.dark-theme #Im3 {
    content: url(./Image/Present/3Light.png) !important;
}

body.dark-theme #Im4 {
    content: url(./Image/Present/4Light.png) !important;
}

/* Card introduce */

.Cardintro {
    border-bottom: solid 1px #222;

    .CardIntroContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        height: 600px;
        margin-bottom: 4rem;

        .CardIntrotext {

            &.CardIntrotext h1 {
                color: #ffffe9;
                font-family: lineseedregular;
                font-weight: 300;
                font-size: 50px;
                line-height: 1.25;
                letter-spacing: -1px;
            }

            &.CardIntrotext p {
                color: #fff;
                opacity: 30%;
                font-family: lineseedregular;
                letter-spacing: -0.3px;
                font-size: 16px;
            }

            &.CardIntrotext ul {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            &.CardIntrotext ul li a {
                color: #000;
                background-color: #ffffE9;
                padding: 0.6rem 1rem;
                border-radius: 50px;
                display: inline-block;
                margin-top: 1rem;
                width: 220px;
                font-size: 18px;
                line-height: 25px;
                font-family: "inter tight";
                font-weight: 450;
                text-align: center;
            }

        }

        .CardIntroImage {

            &.CardIntroImage img {
                width: 78%;
                height: auto;
                aspect-ratio: 1 / 1;
                object-fit: cover !important;
                content: url(./Image/Present/PeakkFrameWeb.png);
                transform: translateX(-40px);
            }
        }
    }
}

body.dark-theme .Cardintro {
    /* background-color: #fdfddc; */
    border: none;
}

body.dark-theme .CardIntrotext h1 {
    color: #000 !important;
}

body.dark-theme .CardIntrotext p {
    color: #000 !important;
    opacity: 80% !important;
}

body.dark-theme .CardIntrotext ul li a {
    background-color: #000 !important;
    color: #ffffE9 !important;
}

body.dark-theme .CardIntroImage img {
    width: 78%;
    height: auto;
    transform: translateX(-40px);
    object-fit: cover !important;
    content: url(./Image/Present/PeakkFrameWebLight.png) !important;
    filter: drop-shadow(10px 15px 0px #000);
}

body.dark-theme .PriceTagRec {
    background-color: #fffff9;
    border-top: #f1f1f1 solid 1px;
    border-bottom: #f1f1f1 solid 1px;
}

body.dark-theme #First {
    border-left: solid 3px #000 !important;
}

body.dark-theme .PriceTagRecText span {
    color: #000 !important;
    background-color: transparent !important;
}

body.dark-theme .PriceTagRecText h1 {
    color: #000 !important;
}

body.dark-theme .PriceTagRecText p {
    color: #000 !important;
    opacity: 80% !important;
}

body.dark-theme .PriceTagRecText a {
    color: #ffffe9 !important;
    background-color: #000 !important;
}

.PriceTagRec {
    width: 100%;
    height: 1180px;
    background-color: #060606;
    position: relative;
    /* border-top: solid 1px #222; */
    /* border-bottom: solid 1px #222; */

    .PriceTagRecContent {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1100px;
        margin: 0 auto;
        height: 1180px;
    }

    .PriceTagRecText {

        .PriceTagRecTextFirst {
            padding-left: 2.25rem;
            margin-bottom: 0.85rem;
        }

        #First {
            border-left: solid 3px #ffffE9;
        }

        &.PriceTagRecText span {
            background-color: #0f0f0f;
            color: #ffffE9;
            font-family: lineseedregular;
            border: solid 1px #222;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            height: 45px;
            font-size: 18px;
        }

        &.PriceTagRecText h1 {
            color: #ffffe9;
            font-weight: 400;
            font-family: lineseedregular;
            letter-spacing: -1px;
            line-height: 1.3;
            font-size: 50px;
            margin-bottom: 2rem;
            padding-top: 2rem;
        }

        &.PriceTagRecText p {
            color: #fff;
            font-family: lineseedregular;
            letter-spacing: -0.2px;
            opacity: 30%;
            font-size: 18px;
            margin-bottom: 2.5rem;
        }

        &.PriceTagRecText a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 210px;
            border-radius: 50px;
            text-align: center;
            background-color: #ffffE9;
            color: #000;
            font-family: lineseedregular;
            letter-spacing: -0.3px;
            font-size: 18px;
            height: 45px;
        }

        #LinkksPrice {
            font-family: "inter tight";
            font-weight: 450;
        }

    }

    .PriceTagRecCard {
        width: 450px;
        height: 800px;
        min-height: 850px;
        max-height: 850px;
        background-color: #0a0a0a;
        border: solid 1px #222;
        border-radius: 12px;
        position: relative;
        z-index: 2;

        .PriceTagRecCardContent {
            padding-left: 2.5rem;
            padding-right: 2.5rem;
            padding-top: 1rem;
        }

    }

}

body.dark-theme .PriceTagRecCardContent::before {
    background-color: #fdfdf0;
}

.PriceTagRecCardContent::before {
    content: "";
    width: 35px;
    height: 92%;
    display: block;
    border: solid 1px #222;
    position: absolute;
    left: 100%;
    top: 4%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: #101010;
    z-index: 0;
}

body.dark-theme .PriceTagRecCard {
    background-color: #fdfdf3;
    box-shadow: #000 -6px 6px 0px;
}

/* card text */

body.dark-theme .PriceTagRecCardConText h1 {
    color: #000 !important;
}

body.dark-theme .PriceTagRecCardConText p {
    color: #000 !important;
}

body.dark-theme .PriceTagRecCardConText span {
    color: #000 !important;
    opacity: 80% !important;
}

.PriceTagRecCardConText h1 {
    color: #ffffe9;
    font-family: lineseedregular !important;
    font-weight: 600;
    letter-spacing: -1px;
    padding-top: 1rem;
    font-size: 42px;
    margin-bottom: 0.5rem;
}

.PriceTagRecCardConText p {
    color: #fff;
    font-size: 80px;
    font-family: "inter tight";
}

.PriceTagRecCardConText span {
    color: #fff;
    opacity: 60%;
    font-size: 16px;
    font-family: lineseedregular;
}

.PriceTagRecButton {
    position: absolute;
    bottom: 0;
    width: 370px;
    margin-bottom: 1.5rem;
}

body.dark-theme .PriceTagRecButton a {
    color: #ffffe9 !important;
    background-color: #000 !important;
}

body.dark-theme .PriceTagRecButton button {
    color: #ffffe9 !important;
    background-color: #000 !important;
}

.PriceTagRecButton a {
    display: flex;
    height: 45px;
    margin-bottom: 1.25rem;
    font-family: lineseedregular;
    font-weight: 500;
    letter-spacing: -0.6px;
    font-size: 18px;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #ffffF0;
}

.PriceTagRecButton button {
    display: flex;
    height: 45px;
    margin-bottom: 1.25rem;
    font-family: lineseedregular;
    font-weight: 500;
    letter-spacing: -0.6px;
    font-size: 18px;
    border-radius: 60px;
    align-items: center;
    justify-content: center;
    color: #000;
    background-color: #ffffF0;
    width: 370px;
    border: none;
    outline: none;
}

/* Pricebene */

.PriceTagRecCardBene {
    margin-top: 1.5rem;

    &.PriceTagRecCardBene ul li a {
        padding: 0.35rem 0px;
        display: block;
        color: #fff;
        opacity: 30%;
        font-family: lineseedregular;
        letter-spacing: -0.5px;
        font-size: 14px;
    }

    &.PriceTagRecCardBene ul li ion-icon {
        margin-right: 0.35rem;
        transform: translateY(0.5px);
    }
}

body.dark-theme .PriceBenefit span {
    opacity: 80% !important;
    color: #000;
}

.PriceBenefit span {
    color: #fff;
    opacity: 60%;
    font-family: lineseedregular;
    margin-top: 1.5rem;
    display: block;
    font-size: 16px;
}

body.dark-theme .PriceTagRecCardBene ul li a {
    color: #000 !important;
    opacity: 80% !important;
}

/* Card overlay */

body.dark-theme .overlayPrice {
    background-color: rgba(255, 255, 246, 0.815);
}

.overlayPrice {
    opacity: 0;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.715);
    z-index: 5;
    cursor: pointer;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.85s;
}

body.dark-theme .overlayPrice ul {
    background-color: rgb(255, 255, 240);
}

.overlayPrice ul {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 10, 10, 0.500);
    border: solid 1px #222;
    padding: 1.8rem 1.5rem;
    border-radius: 16px;
    width: 315px;
}

body.dark-theme .overlayPrice ul::before {
    color: #000;
    background-color: #fffff9;
}

.overlayPrice ul::before {
    content: "สิ่งที่ท่านได้เมื่อจ้างราคานี้";
    color: #ffffe9;
    font-family: lineseedregular;
    position: fixed;
    left: 50%;
    top: 0%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    width: 210px;
    padding: 0.5rem 0px;
    text-align: center;
    background-color: rgb(15, 15, 15);
    border: solid 1px #222;
}

.overlayPrice ul li a {
    color: #ffffe9;
    font-family: lineseedregular;
    margin-top: 0.5rem;
    display: inline-block;
}

body.dark-theme .overlayPrice ul li a {
    color: #000 !important;
}

.overlayPrice ul li ion-icon {
    margin-right: 0.5rem;
}

/* All price */

body.dark-theme .Allprice {
    border: none;
    background-color: #fdfdf3;
}

body.dark-theme .AllPctitle h1 {
    color: #000 !important;
}

body.dark-theme .AllPctitle p {
    color: #000 !important;
    opacity: 80% !important;
}

.Allprice {
    border-top: solid 1px #222;
    border-bottom: solid 1px #222;
    height: 1080px;
    background-color: #080808;

    .AllPctitle {

        &.AllPctitle h1 {
            color: #ffffe9;
            letter-spacing: -1.5px;
            font-family: lineseedregular;
            font-weight: 400;
            font-size: 50px;
            text-align: center;
            padding-top: 6rem;
        }

        &.AllPctitle p {
            text-align: center;
            margin-top: 0.5rem;
            font-family: lineseedregular;
            color: #fff;
            opacity: 30%;
            font-size: 20px;
            letter-spacing: -0.8px;
        }
    }

    .AllPCon {
        width: 400px;
        height: 600px;
        background-color: #0c0c0c;
        border: solid 1px #222;
        border-radius: 10px;
        position: relative;

        .AllpcText {
            padding: 1rem 2.25rem;

            &.AllpcText h1 {
                font-family: lineseedregular;
                color: #ffffE9;
                font-weight: 400;
                letter-spacing: -1.5px;
                font-size: 40px;
                margin-top: 1rem;
            }

            &.AllpcText p {
                color: #fff;
                font-size: 90px;
                font-family: lineseedregular;
            }

            &.AllpcText span {
                color: #fff;
                margin-top: 0.65rem;
                display: inline-block;
                opacity: 30%;
                font-family: lineseedregular;
                line-height: 1.4;
                font-size: 16px;
            }

        }
    }

}

body.dark-theme .AllPCon {
    box-shadow: -10px 10px 0px #000;
    background-color: #fdfdf3 !important;
}

.AllPriceCard {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

.AllpcBtn {
    bottom: 25px;
    position: absolute;

    &.AllpcBtn a {
        color: #000;
        border-radius: 50px;
        background-color: #ffffE9;
        padding: 0px 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        letter-spacing: -0.3px;
        height: 48px;
        margin-bottom: 1.2rem;
        width: 328px;
        text-align: center;
        font-family: lineseedregular;
    }
}

body.dark-theme .AllpcBtn a {
    background-color: #000 !important;
    color: #ffffE9 !important;
}

body.dark-theme .AllpcText p {
    color: #000 !important;
}

body.dark-theme .AllpcText h1 {
    color: #000 !important;
}

body.dark-theme .AllpcText span {
    opacity: 80% !important;
    color: #000 !important;
}

/* Config bugs */

@media only screen and (max-width: 975px) {
    .CardIntroImage img {
        display: none;
    }

    body.dark-theme .CardIntroImage img {
        display: none;
    }
}

@media only screen and (max-width: 500px) {

    body .CardIntrotext p {
        font-size: 16px !important;
    }

    .navsoc {
        bottom: 35px;
    }

    .navsoc::after {
        display: none;
    }

    .CardIntroContent {
        height: 100dvh !important;
    }

    .navbarbot {
        display: block;
        height: 120px;
    }

    /* .NavLogo h1 {
        display: none;
    } */
    /* 
    .ResThemeswic2 {
        display: none;
    } */
}

/* Sortmew */

.sortbymew {
    width: 100%;
    height: 750px;
    position: relative;
    background-color: #080808;

    .sortmewwrapper {
        margin: 0 auto;
        max-width: 1100px;
    }

    .sortmewimage svg {
        width: 100%;
        margin-top: 3rem;
    }

    #Sortmewlight {
        display: none;
    }

    .sortmewtext h1 {
        font-family: lineseedregular;
        font-weight: 400;
        color: #ffffe9;
        font-size: 40px;
        letter-spacing: -1.5px;
        text-align: center;
    }

    .sortmewtextlinks {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    .sortmewtext a {
        font-family: lineseedregular;
        color: #000;
        background-color: #ffffE9;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 42.5px;
        font-size: 18px;
    }
}

body.dark-theme .sortbymew {
    background-color: #fffff9;
    border-bottom: solid 1px #f1f1f1;
    border-top: solid 1px #f1f1f1;
}

body.dark-theme #Sortmewlight {
    display: block;
    filter: drop-shadow(10px 10px 0px #000);
}

body.dark-theme #SortmewDark {
    display: none;
}

#mainlightsortmewwin {
    stroke-width: 1px;
    stroke: #0000003b;
}

body.dark-theme .sortmewtext h1 {
    color: #000;
}

body.dark-theme .sortmewtext a {
    color: #ffffE9;
    background-color: #000;
}

.introducemew {
    width: 100%;
    height: 570px;
    background-color: #080808;
    border-bottom: solid 1px #222;

    .intromewcontent {
        margin: 0 auto;
        max-width: 1100px;
        position: relative;
    }

    .intromewcontenttext {
        position: relative;
    }

    .intromewcontenttext h1 {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        top: 280px;
        color: #ffffE9;
        font-family: Thanamas;
        font-weight: 400;
        font-size: 36px;
    }

    .intromewcontenttext a {
        font-family: lineseedregular;
        color: #000;
        background-color: #ffffE9;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 42.5px;
        font-size: 18px;
        /*  */
        position: absolute;
        left: 50%;
        transform: translate(-50%, 50%);
        top: 400px;
    }

    .intromew {

        &.intromew svg {
            width: 500px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }

}


.about {
    height: 1080px;
    width: 100%;
    background-color: #060606;
    border-bottom: solid 1px #222;
    border-top: solid 1px #222;
    position: relative;

    .aboutbg {
        display: none;
        top: 180px;
        position: absolute;
    }

    .aboutbg ion-icon {
        font-size: 200px;
        color: #181818;
    }

    .aboutwrapper {
        max-width: 1100px;
        margin: 0 auto;
        height: 1080px;

        .abouttextcontent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 3rem;
            padding-top: 12rem;
            position: relative;
        }

        .abouttext h1 {
            font-family: lineseedregular;
            font-weight: 400;
            font-size: 62px;
            line-height: 1.5;
            letter-spacing: -1px;
            color: #ffffE9;
        }

        .abouttext p {
            font-size: 24.5px;
            font-family: lineseedregular;
            letter-spacing: -0.5px;
        }

        .aboutinfor {
            position: relative;
        }

        .aboutinfor h1 {
            font-family: lineseedregular;
            font-weight: 400;
            letter-spacing: -1px;
            font-size: 18px;
            padding: 0.5rem 1.25rem;
            background-color: #0f0f0f;
            border: solid 1px #222;
            border-radius: 6px;
            cursor: not-allowed;
            display: flex;
            line-height: 1.5;
            color: #ffffE9;
        }

        .aboutinfor p {
            font-family: thonburi !important;
            margin-left: 0.5rem;
            font-size: 18px;
        }


    }

    .aboutcard {

        .aboutcardwrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .aboutcardcontent {
                width: 350px;
                min-height: 500px;
                height: 500px;
                background-color: #0f0f0f;
                border: solid 1px #222;
                border-radius: 12px;
                position: relative;
                box-shadow: 12px 12px 0px #0f0f0f;
            }

            .aboutcontext {
                padding: 1rem 1.5rem;

                &.aboutcontext h1 {
                    font-family: lineseedregular;
                    font-weight: 400;
                    letter-spacing: -1.2px;
                    font-size: 34px;
                    line-height: 1.8;
                    margin-bottom: 0.5rem;
                    margin-top: 0.5rem;
                    color: #ffffE9;
                }

                &.aboutcontext hr {
                    border: solid 1px #444;
                    width: 70px;
                    margin-bottom: 1.65rem;
                }

                &.aboutcontext p {
                    opacity: 40%;
                    font-size: 14px;
                    /* font-family: thonburi; */
                    font-family: lineseedregular;
                    line-height: 1.65;
                    color: #fff;
                }
            }

            .aboutconbottombtn {
                position: absolute;
                background-color: #080808;
                width: 100%;
                bottom: 0;
                padding: 1.5rem 1.5rem;
                border-radius: 0px 0px 10px 10px;

                &.aboutconbottombtn a {
                    padding: 0.35rem 1.25rem;
                    background-color: #ffffE9;
                    color: #000;
                    -webkit-text-stroke-width: 0.3px;
                    border-radius: 50px;
                    font-family: lineseedregular;
                    letter-spacing: -0.25px;
                }
            }
        }
    }
}

body.dark-theme .about {
    background-color: #fdfdf3;
    border-bottom: solid 1px #f1f1f1;
    border-top: solid 1px #f1f1f1;
}

body.dark-theme .introducemew {
    background-color: #fffff9;
}

body.dark-theme .abouttext h1 {
    color: #000 !important;
}

body.dark-theme .aboutinfor h1 {
    background-color: transparent !important;
    color: #000 !important;
    border: solid 1px #000 !important;
}

body.dark-theme .aboutcardcontent {
    background-color: #fff !important;
}

body.dark-theme .aboutcontext h1 {
    color: #000 !important;
}

body.dark-theme .aboutcontext hr {
    border: solid 1px #000;
}

body.dark-theme .aboutcontext p {
    color: #000 !important;
    opacity: 80% !important;
}

body.dark-theme .aboutconbottombtn {
    background-color: #f8f8ef !important;
    border-top: solid 1px #000;
}

body.dark-theme .aboutconbottombtn a {
    color: #ffffE9 !important;
    background-color: #000 !important;
    -webkit-text-stroke-width: 0px !important;
}

body.dark-theme .intromew svg path {
    fill: #000;
}

body.dark-theme .intromewcontenttext h1 {
    color: #000 !important;
}

body.dark-theme .intromewcontenttext a {
    background-color: #000 !important;
    color: #ffffe9 !important;
}

body.dark-theme .introducemew {
    border-bottom: solid 1px #f1f1f1;
}

body.dark-theme .footertext h1 {
    color: #000;
}

body.dark-theme .footerlink li a {
    color: #000;
    opacity: 100%;
}

body.dark-theme #footerhigh {
    background-color: #000;
    color: #fff;
}

footer {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footerlink {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 360px;
        margin: auto;
    }

    .footerlink li a {
        color: #fff;
        opacity: 40%;
        font-family: lineseedregular;
        font-size: 16px;
    }

    .footertext h1 {
        margin-top: 2rem;
        font-family: lineseedregular;
        color: #fff;
        font-size: 26px;
    }

}

#footerhigh {
    opacity: 100%;
    padding: 0.3rem 1rem;
    color: #000;
    background-color: #ffffe9;
    border-radius: 50px;
}