/*
    Custom Cursor
    You can add this CSS file into your HTML File with cursor.js
*/

* {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16'><polygon points='8,2 15,15 8,12 1,15' fill='black' stroke='white' stroke-width='4' paint-order='stroke fill'/></svg>") 8 8, auto !important;
}

#cursor-dot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999;
    mix-blend-mode: difference;
    transition: 0.1s ease;
    will-change: transform;
}